.icon-christmas-star-filled,
.icon-christmas-star,
.icon-right-filled,
.icon-expand-arrow,
.icon-expand-arrow-filled,
.icon-twitter,
.icon-facebook,
.icon-linkedin,
.icon-message,
.icon-attention,
.icon-grid,
.icon-list-filled,
.icon-google-plus,
.icon-share,
.icon-circled-play-filled,
.icon-thumb-up,
.icon-thumbs-down,
.icon-checked-checkbox,
.icon-unchecked-checkbox,
.icon-checkmark,
.icon-info,
.icon-edit-filled,
.icon-user-group-man-man,
.icon-info-squared,
.icon-faq,
.icon-privacy,
.icon-warning-shield,
.icon-rules,
.icon-help,
.icon-table,
.icon-shopping-cart,
.icon-shopping-cart-filled,
.icon-like,
.icon-like-filled,
.icon-contacts,
.icon-user-filled,
.icon-music,
.icon-open-book,
.icon-movie,
.icon-multiple-devices,
.icon-stapler,
.icon-electric-bumper-car,
.icon-visual-game-boy,
.icon-hair-brush,
.icon-basketball,
.icon-dog,
.icon-search,
.icon-my-topic,
.icon-shopping-cart-loaded,
.icon-user,
.icon-key,
.icon-address-book,
.icon-box-filled,
.icon-comments,
.icon-go-kart {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

.icon-christmas-star-filled > svg,
.icon-christmas-star > svg,
.icon-right-filled > svg,
.icon-expand-arrow > svg,
.icon-expand-arrow-filled > svg,
.icon-twitter > svg,
.icon-facebook > svg,
.icon-linkedin > svg,
.icon-message > svg,
.icon-attention > svg,
.icon-grid > svg,
.icon-list-filled > svg,
.icon-google-plus > svg,
.icon-share > svg,
.icon-circled-play-filled > svg,
.icon-thumb-up > svg,
.icon-thumbs-down > svg,
.icon-checked-checkbox > svg,
.icon-unchecked-checkbox > svg,
.icon-checkmark > svg,
.icon-info > svg,
.icon-edit-filled > svg,
.icon-user-group-man-man > svg,
.icon-info-squared > svg,
.icon-faq > svg,
.icon-privacy > svg,
.icon-warning-shield > svg,
.icon-rules > svg,
.icon-help > svg,
.icon-table > svg,
.icon-shopping-cart > svg,
.icon-shopping-cart-filled > svg,
.icon-like > svg,
.icon-like-filled > svg,
.icon-contacts > svg,
.icon-user-filled > svg,
.icon-music > svg,
.icon-open-book > svg,
.icon-movie > svg,
.icon-multiple-devices > svg,
.icon-stapler > svg,
.icon-electric-bumper-car > svg,
.icon-visual-game-boy > svg,
.icon-hair-brush > svg,
.icon-basketball > svg,
.icon-dog > svg,
.icon-search > svg,
.icon-my-topic > svg,
.icon-shopping-cart-loaded > svg,
.icon-user > svg,
.icon-key > svg,
.icon-address-book > svg,
.icon-box-filled > svg,
.icon-comments > svg,
.icon-go-kart > svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

