@import "_inc/_all_inc";


.custom_list{
	list-style: none;
	padding-left: 0;
	.list_icon{
		position: relative;
		width: 30px;
		max-height: 30px;
		&.inone_big{
			width: 35px;
			margin-left: -3px;
		}
	}
	.list_text{
		flex: 1 0 150px;
	}
	a{
		@include flex_align($h_align:space-between, $v_align: center, $wrap: wrap);
		text-decoration: none !important;
		.arrow{
			align-self: flex-start;
			margin-top: 6px;
		}
	}
}
.custom_list .list_icon.stroke_img{
	stroke:$black;
	fill:none;
}
.custom_list a:hover .list_icon.stroke_img {
    stroke: $blue;
    fill: none;
}
.custom_list a.active .list_icon.stroke_img {
    stroke: $blue;
    fill: none;
}