$orange: #F16130;
$light_orange: #feefea;
$dark_orange: #c04c21;
$v_dark_orange: #8c381c;

$blue: #0caee4;
$start_blue: #5383ec;
$light_blue: #edf2fd;
$dark_blue: #4167ba;
$v_dark_blue: #2f4b87;

$grey: #cccccc;
$lght-grey: #404040;
$dark_grey: #555555;
$disable_grey: #909090;

$black: #000;

$white: #fff;

$red: #FF0000;

$bg_ligt_blue : #ecf9fd;
$bark_grey : #898989;

$bazalt:#363636;

$eror: #ff0033;

$second_but_hover : #448ccb;
$second_but_focus : #005b7f;


$confirm_bg:#6bb86c;
$anoth_grey:#acacac;

$lang:#f1ad95;

$active_grid:#41464e;

$color-text:#292b2c;

$sale-color:#6bb86c;

$grey-top:#ededed;

$grey-lines:#ececec;