@import "_inc/_all_inc";

.error_page{
    margin-top: 4px;
	background: url("../img/bg404.jpg")no-repeat 50% 50%;
	min-height: 550px;
	padding-bottom: 55px;
}
.info_cont_for{
    max-width: 742px;
    margin: auto;
    padding-left: 14.2%;
    padding-top: 60px;
    .title_error{
		font-size: 48px;
		text-transform: uppercase;
	    margin-bottom: 2px;
    }
    .subtitle_error{
    	text-transform: uppercase;
		font-size: 24px;
		margin-bottom: 28px;
    }
    .text_error{
		font-size: 16px;
		margin-bottom: 0;
	    line-height: 1.3em;
    }
    .link_error{
    	color: $blue;
		text-decoration: underline;
    }
    .but_error{
    	cursor: pointer;
		display: block;
	    margin-top: 218px;
	    text-transform: uppercase;
	    border: none;
	    font-size: 14px;
	    width: 100%;
	    max-width: 370px;
		min-height: 60px;
    }
    .nounder{
		&:hover,&:focus{
			text-decoration:none;
		}
    }
    .link_hover{
		&:hover{
			color:$second_but_hover;
		}
		&:focus{
			color:$second_but_focus;
		}
	}
}
.mb-cont{
	margin-bottom: 100px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 55px;
		}
}
@media (max-width: 1300px) and (min-width: 991px){
	.error_page{
	    background-position: 139% 50%;
	    background-size: 113%;
	}
}
@include media-breakpoint-down(md) {
	.error_page{
		background:none;
		text-align: center;
		.info_cont_for{
			padding-left: 0;
		}
		.text_error{
			margin-top: 25px;
		}
		.info_cont{
			padding-top: 30px;
			padding-left: 0;
			max-width: 300px;
		}
		.but_error{
			margin: 30px auto 0;
			min-height: 45px;
		}
	}
}