$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1300px
) !default;
$container-max-widths: (  sm: 540px,  md: 720px,  lg: 960px,  xl: 1140px, xxl: 1200px);
$grid-gutter-widths: (xs: 20px, sm: 30px);

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower