@import "_inc/_all_inc";

.foot_padding{
	@include media-breakpoint-down(md) {
		margin-bottom: 170px;
	}
}
a{
	color: $blue;
}
.select_row .select{
	max-width: 270px;
}
.trak_wrap{
	cursor: pointer;
	display: block;
	color: $black;
	&:hover{
		background: $blue;
	}
}
.sticky_mobile .count_box{
	border-color:$bazalt;
	.plus,.minus{
		border-color:$bazalt;
		&:before,&:after{
			background:$bazalt;
		}
	}
	.count{
		border-color:$bazalt;
	}
}
.semi_open_cont.related_sect{
	.swiper_btn_prev,.swiper_btn_next{
		// display: none;
	}
}
.mx-auto{
	&.buying_options{
		margin-bottom: 100px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 55px;
		}
	}
}

.pager{ 
	margin-bottom: 27px;
	padding-left: 0;
	a{
		color: $black;
		font-size: 14px;
	}
}
.sold_out_prod{
	color: $red;
	font-size: 24px;
	text-transform: uppercase;
    max-width: 420px;
    line-height: 1.2em;
}
.sold_out{
	.price_box .sale{
		color:$disable_grey;
	}
	.like_button{
		border-color:$disable_grey;
		.icon_like_filled{
			fill:$disable_grey;
		}
		&:hover{
			border-color:$disable_grey;
			.icon_like_filled{
				fill:$disable_grey;
			}
		}
		&:focus{
			border-color:$disable_grey;
			.icon_like_filled{
				fill:$disable_grey;
			}
		}	
	}
	.wrap_buying .btn_orange{
		background:$disable_grey;
		border-color:$disable_grey;
		&:hover{
			border-color:$disable_grey;
			.icon_like_filled{
				fill:$disable_grey;
			}
		}
		&:focus{
			border-color:$disable_grey;
			.icon_like_filled{
				fill:$disable_grey;
			}
		}
	}
	.wrap_buying .but_triangle{
		&:after {
		    border: 30px solid transparent;
		    border-left: 9px solid $disable_grey;
		    @include media-breakpoint-down(md) {
				border: 22px solid transparent;
		    	border-left: 9px solid $disable_grey;
		    }
		}
	    &:hover:after{
	    	border: 30px solid transparent;
			border-left: 9px solid $disable_grey;
			@include media-breakpoint-down(md) {
				border: 22px solid transparent;
		    	border-left: 9px solid $disable_grey;
			}
		}
		&:focus:after{
			border: 30px solid transparent;
			border-left: 9px solid $disable_grey;
			@include media-breakpoint-down(md) {
				border: 22px solid transparent;
				border-left: 9px solid $disable_grey;
			}
		}
	}
	.wrap_buying .btn_orange.invers_but{
		border-color:$disable_grey;
		color:$disable_grey;
		background:transparent;
		.icon-basket{
			stroke:$disable_grey;
			fill:none;
		}
	}
	.orange{
		fill:$disable_grey;
	}
	.ratings_quanity{
		color:$disable_grey;
	}
	.wrap_buying .invers_but .invers_busc_cont:after, .wrap_buying .invers_but .invers_busc_cont:before, .wrap_buying .invers_but .invers_busc_cont .lines_busc{
		background:$disable_grey;
	}

	.product_title {
		margin-bottom: 0;
	}
	.related_sect{
	    margin-top: 3px;
		.pdp_title{
			margin-top: 0;
			margin-bottom: 0;
		}
		.pdp_slide{
			padding-top: 0;
			border-top: none;
			border-bottom: none;
			padding-bottom: 45px;
		}
	}
	.inform_cont{
		.sect_inform2{
			border-top: 1px solid #ececec;
		}
	}
}
.select_row{
	margin: 40px 0 0 0;
	justify-content: space-between;
	align-items: center;
}
.arrow_kaskad{
	padding-left: 7px;
	padding-right: 10px;
}
.subimages_pdp{
	margin-top: 19px;
	.subimage_pdp{
		max-width: 50px;
		margin-right: 11px;
	}
}
.image_product_big{
	text-align: center;
	img{
		max-height: 570px;
	}
}
.image_company{
	margin-bottom: 30px;
	max-width: 153px;
}
.pdp_page{
	// padding-bottom: 55px;
	margin-bottom: 100px;
	@include media-breakpoint-down(sm) {
		margin-bottom: 55px;
	}
	.no_pading_cl{
		padding: 0;
	}
}
.pdp_sections{
	padding: 29px 0px;
	font-size: 14px;
	border-bottom: 1px solid $grey-lines;
	&.bb-0{
		border-bottom: 0;
	}
}
.select_descript{
	padding-bottom: 6px;
}
.table {
	.bt-0{
		border-top: 0;
	}
}
.shared_but{
	margin-left: 14px;
	width: 100%;
	padding-right: 18px;
	max-width: 170px;
	min-height: 45px;
	border-radius: 3px;
	border: 2px solid $blue;
	color:$blue;
	background:transparent;
	font-size: 14px;
	text-transform: uppercase;
	&:hover{
		border-color: $second_but_hover;
		.icon_shared{
			fill:$second_but_hover;
		}
	}
	&:focus{
		border-color: $second_but_focus;
		.icon_shared{
			fill:$second_but_focus;
		}
	}
	.icon_shared{
		margin-right: 14px;
		width: 30px;
		height: 28px;
		fill:$blue;
		vertical-align: middle;
	}

}
.no_efect{
	&:hover,
	&:focus{
		text-decoration: none;
		outline: none;
	}
}
.cancel_circle {
	&:focus{
		outline: none;
	}
}
.show_but{
    width: 100%;
    min-height: 45px;
    border-radius: 3px;
    background: transparent;
    font-size: 14px;
    text-transform: uppercase;
    color: $orange;
    max-width: 272px;
    margin: 27px 0 0 14px;
    padding: 5px;
    border:2px solid $orange;
    cursor: pointer;
    &:hover{
    	border-color:$dark_orange;
    	color:$dark_orange;
    } 
    &:focus{
    	outline: none;
    	border-color:$v_dark_orange;
    	color:$v_dark_orange;    	
    }
}
.cols_share{
	color:$blue;
    padding-left: 8px;
}
.social_shared{
    margin-top: 24px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	.icons_social{
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin-right: 10px;
	    height: 31px;
	    transition:0.3s;
		&:hover{
			background:$blue;
			svg{
				fill:$white;
			}
		}
		&:focus{
			svg{
				fill:$second_but_focus;
			}
		}
		svg{	
			width: 30px;
			height: 23px;
			fill:$blue;
		}
	}
	.icon_stroke{
		svg{	
			fill:none;
			stroke:$blue;
		}
		&:hover{
			svg{	
				fill:none;
				stroke:$white;
			}
		}
	}
	.mail_ico{
		svg{
			height: 20px;
		}
	}
}
.pdp_title{
	color:$blue;
	text-transform: uppercase;
	font-size: 14px;
}
.tracklist{
	padding-bottom: 23px;
	.subtitle_pdp{
		margin-top: 21px;
		margin-bottom: 5px;
	}
	.play_image{
		width: 24px;
		height: 21px;
		display: inline-block;
		vertical-align: middle;
		margin: 0px 4px 3px;
	}
	.play_text{
		padding: 5px 0 6px 3px;
		margin-bottom: 0;
	}
}
.details{
	margin-top: 22px;
}
.details_list{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 4px;
	.details_one{
		flex: 0 1 198px;
	}
}
.description_text{
	font-size: 16px;
	line-height: 24px;	
	margin-bottom: 7px;
}
.description_pdp{
	.pdp_title{
		margin-bottom: 28px;
	}	
}
.line_fullness{
	display: inline-block;
	width: 150px;
	height: 10px;
	border: 1px solid $black;
	position:relative;
	margin-right: 24px;
}
.star_line{
	margin-bottom: 4px;
}
.customer_text{
	margin-bottom: 0;
	font-size: 16px;
}
.fullness_progress{
	background:$orange;
	position:absolute;
	top:-1px;
	left:-1px;
	bottom:-1px;
}
.review_title{
	padding: 24px 0 0;
	margin-top: 5px;
	margin-bottom: 0;
}
.revews_sect{
	border-top:none;
	padding-bottom: 0;
	.pdp_title{
		padding-bottom: 22px;
	}	
	.rating{
	    margin-bottom: 0px;
   		padding-top: 4px;
	}
}
.pdp_review{
	padding-bottom: 12px;
	.rating{
		margin-bottom: 10px;
	}
	.pdp_title_anoth{
		font-size: 16px;
	    margin-bottom: 34px;
	}
	.date_info{
		margin-bottom: 12px
	}
	.description_text{
		margin-bottom: 21px;
	}
	.shared_but{
		max-width: 272px;
		margin: 36px 0 0 0;
		padding: 5px;
	}
}
.link_help{
	display: block;
	color: $black;
}
.linck_quest{
	color: $black;
}
.arrow_icon{
	width: 17px;
	height: 17px;
	flex:0 0 17px;
	fill: #0caee4;
	border-radius: 50%;
	border:1px solid $blue;
	padding: 5px;
	margin-right: 12px;
	transform:rotate(-90deg);
	transition:0.4s;
	box-sizing:content-box;
}
.result_search{
	background: rgba($blue,0.32);
	margin:0 1px;
	padding:0 2px;
}
.text_result{
	font-size: 16px;
    padding-left: 41px;
}
.result_line{
	margin-bottom: 1px;
}
.autor_result{
	font-size: 14px;
	margin-bottom: 26px;
}
.searchCont{
	display:  none;
}
.search_result{
	&.active{
		.arrow_icon{
			transform:rotate(-180deg);
			transition:0.4s;
		}
	}
}
.color_blue{
	color: $blue;
    padding-right: 3px;
}
.help_icon,.alert_icon{
	height:30px;
	width:30px;
	margin-right: 8px;
    vertical-align: middle;
}
.help_link{
	margin-bottom: 30px;
}
.pdp_raiting{
	margin-bottom: 0;
}
.search_item{
	font-size: 16px;
	margin-bottom:10px;
	display: flex;
	color: $black;
    align-items: center;
	&:focus,
	&:hover{
		text-decoration: none;
		color: $black;
		opacity: 1;
	}
	.rating{
	    flex: 0 0 100px;	   
	}
}
.autor_result{
	display: flex;
	align-item:center;
	justify-content:space-between;
	margin-top: 5px;
	margin-bottom: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid $grey-lines;
	.icon-sing_up {
	    width: 25px;
	    height: 25px;
		vertical-align: middle;
	}
	.cont_post_inf{
		span{
			vertical-align: middle;
		}
	}
	.cont_post_linck{
	    padding-right: 11px;
		span,a{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.linck_reply{
		font-size: 13px;
		padding-right: 10px;
		padding-bottom: 4px;
	}
}
.paginat_wrap{
	display: flex;
	align-item:center;
	justify-content:space-between;
}
.sect_miss{
	border-top:1px solid $grey-lines;
	border-bottom:1px solid $grey-lines;
}
.blue_icon{
	fill:$blue;
}
.items_question{
	align-items:flex-start;
}
.result_question{
	.autor_result{
		margin-left: 40px;
		border-bottom: none;
	}
	.text_result{
		border-top: 1px solid $grey-lines;
		margin-left: 40px;
		padding-left: 0;
		.autor_result{
			margin-left: 0;
		}
	}
}
.pagination_arrow{
    padding-right: 15px;
    margin-top: -2px;
	.arrow_icon{
		vertical-align: middle;
		border:none;
		fill:$color-text;
		padding: 0;
	    width: 24px;
	    height: 24px;
	}
	.nums{
		vertical-align: middle;
	    padding: 0 7px;
	    color:$color-text;
	}
	.active_nums{
		color:$blue;
	}
	.arrow{
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
	}
	.double_back {
		.arrow_icon{
			margin: 0 -9px;
		}
	}
	.double_end{
		.arrow_icon{
			margin: 0 -9px;
		}
	}
	.one_arr{
		margin: 0 -8px;
	}
	.num_wrap{
		padding: 0 10px;
	}
}

.semi_open_cont {
	.edit_post_but{
		margin:10px auto 40px;
		display: block;
	}
}

.cont_res{
	.result_scroled{
		max-height: 300px;
		padding: 17px 0 0;
		margin: 0;
		border-top: none;
		.autor_result{
			border-bottom: none;
			padding-bottom: 12px;
		}
	}
	&.collapse{
	    display: block;
	    z-index: -1;
	    height: 0;
	    position: relative;
	    overflow: hidden;
	    &.show{
		    z-index: 0;
		    height: auto;	
	    }
	}
}

.like_dislike{
    width: 24px;
    height: 24px;
    margin: 0 -2px;
}
.search_result{
    margin-bottom: 30px;
}
.line_open_res{
	font-size: 16px;
	line-height: 1.5em;
}
.line_newresult{
	display: flex;
	align-item:center;
	flex-wrap:wrap;
    margin-left: 40px;
}
.corect_usful{
	margin: 0 19px 0 0;
}
.review_but{
	cursor: pointer;
	border:none;
	min-width: 272px;
	min-height: 45px;
	border-radius: 3px;
	background-color: $orange;
	color: $white;
	font-size: 14px;
	text-transform:uppercase;
    margin-bottom: 35px;
}
.select_descript{
	span{
		font-size: 18px;
		font-weight: 400;
	}
}
.pdp{
	.filter_row{
		margin: 32px 0 82px;
	}
}

.td_price{
	font-size: 18px;
	display: block;
	margin: 0 0 5px 0;
}
.td_text{
	font-size: 16px;
}
.t_head{
	font-size: 14px;
}
.image_buying_limit{
	max-width:170px;
}
.custom-control-indicator{
	background-color: transparent;
	border: 1px solid $black;
	width: 1.2rem;
	height: 1.2rem;
}
.custom-control-input:checked ~ .custom-control-indicator{
	background-color: transparent;
}
.custom-control-input:focus ~ .custom-control-indicator {
	box-shadow: none;
}
.custom-radio .custom-control-input:checked ~ .custom-control-indicator{
	background-image: none;
	display: flex;
	align-items: center;
	justify-content: center;
	&:after{
		content: "";
		width: 10px;
		height: 10px;
		background-color: $blue;
		display: block;
		border-radius: 50%;
	}
}
.product_title{
	font-size: 24px;
	line-height: 1.2;
}
.product_description{
	font-size: 18px;
	margin-bottom: 0.3rem;
}
.price_box{
	margin-top: 22px;
	.current_price{
		font-size: 48px;
	}
	.sale{
		color: rgba($orange, 0.97);
		font-size: 36px;
		margin-left: 16px;
	}
	.old_price{
		color: rgba($lght-grey, 0.97);
		color: $lght-grey;
		font-size: 36px;
		padding-left: 10px
	}
}
.linck_buying{
	display:block;
}
.info_options{
	font-size: 14px;
	line-height: 1em;
}
.linck_buying{
	font-size: 15px;
	line-height: 1em;
}
.custom-radio {
	vertical-align: middle;
	.custom-control-input:checked ~ .custom-control-indicator:after{
		width: 11px;
		height: 11px;
	}
}
.text_td{
	font-style:normal;
	font-size: 14px;
	margin-top: 20px;
}
.text_right{
	text-align: right;
}
.tr_buying .td_buying{
	padding-top: 15px;
	padding-right: 16px;
}
.wrap_buying{
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items:center;
	.btn_orange{
		width:100%;
		padding-right: 28px;
		margin-left: 0;
    	border-radius: 3px 0px 0px 3px;
    	&:focus{
    		border:2px solid $orange;
    		outline: none;
    	}
	}
	.invers_but{
	    padding-left: 14px;
		position: relative;
		background: transparent;
		color: $orange;
		border-radius: 0 3px 3px 0;
		border-left: none;
		&:hover,&:focus{			
			text-decoration: none;
			outline: none;
			border-left: none;
			color: $dark_orange;
		}
		&:hover{
			color: $dark_orange;
			.bascet_add{
				stroke:$dark_orange;
				fill:none;
			}
		}
		&:focus{
			color: $v_dark_orange;
			.bascet_add{
				stroke:$v_dark_orange;
				fill:none;
			}
		}
		.bascet_add{
			stroke:$orange;
			position: relative;
		}
		.invers_busc_cont{
			position: relative;
			max-height: 34px;
			&:after,
			&:before,
			.lines_busc{
				content:"";
				position: absolute;
				left: -7px;
				top: 11px;
				display: inline-block;
				width: 14px;
				height: 1px;
				background:$orange;
			}
			&:before{
				left: -3px;
				top: 16px;
				width: 11px;
			}
			.lines_busc{
				left: 1px;
				top: 21px;
				width: 8px;
			}
		}
	}
	.but_triangle{
		position: relative;
		border-right: none;
		z-index: 1;
		transition:0.3s;
		&:hover{
			border-left-color: $dark_orange;
			&:after{
				border: 30px solid transparent;
				border-left: 9px solid $dark_orange;
			}
		}
		&:focus{
			border-right: none;
			text-decoration: none;
			&:after{
				border: 30px solid transparent;
				border-left: 9px solid $v_dark_orange;
			}
		}
		&:after{
			transition:0.3s;
			position: absolute;
			content::"";
			right: -39px;
			top:-1px;
			bottom: -1px;
			height: 100%;
			width: 15px;
			border: 30px solid transparent;
			border-left: 9px solid $orange;
		}
	}

	.bascet_add{
		stroke: $white;
		fill:none;
		margin-right: 23px;	
	}
	.shipping_buying{
		font-size: 14px;
	}
}
.rating_centered{
	.star{
		vertical-align: middle;
	}
	.ratings_quanity{
		vertical-align: middle;
	}
}
.quanity_distace{
	padding: 43px 0px 33px;	
}

.buying_col1{
	flex: 1 1 auto;
}
.buying_col2{
	flex: 0 1 102px;
}
.like_button{
    margin-right: 30px;
	width: 100%;
	border-radius: 3px;
    max-width: 69px;
    min-width: 60px;
	height: 60px;
	border: 2px solid $blue;
	background:transparent;
	cursor: pointer;
	&:hover{
		border-color: $second_but_hover;
		.icon_like_filled{
			fill:$second_but_hover;
		}
	}
	&:focus{
		border-color: $second_but_focus;
		.icon_like_filled{
			fill:$second_but_focus;
		}
	}
	.icon_like_filled{
		fill: $blue;
		width: 30px;
		height: 32px;
		margin: 5px auto;
	}
}
.details_twoo{
	color: $black;
}
.orange_text{
	color: $orange;
}
.following_product{
	text-decoration: underline;
	margin-bottom: 3px;
    line-height: 1em;
}
.foolow_subtitle{
	margin-bottom: 0;
}
.subcat_list{
	margin-bottom: 7px;
}
.rating_anoth{
	flex: 0 1 200px;
	.rating_value{
		font-size: 48px;
	}
	.of_rating{
		margin-left: 15px;
		font-size: 14px;
	}
	.star {
	    max-width: 31px;
	    max-height: 26px;
	}
}
.rating_big{
	margin-bottom: 4px;
}
.raiting_cont{
	margin-bottom: 34px;
    margin-top: 29px;
}
.star_lines{
	min-width: 45px;
	display: inline-block;
}
.seatch_question{
	position: relative;
	width: 100%;	
    margin-bottom: 35px;
    @include media-breakpoint-down(md) {
    	margin-bottom: 40px;
    	.error_text{
    		bottom: -40px;
    	}
    }
}
.question_form{
	font-size: 16px;
	border-radius: 0 3px 3px 0;
	border: 2px solid $lght-grey;
	width: 100%;
    background-color: transparent;
    padding: 16px 0 19px 49px;
    font-size: 17px;
    &.error{
		border: 2px solid $eror;
		border-radius: 5px;
		outline: none;
    }

}
.quest_modal .captcha_form .form-bg{
	font-size: 13px;
	text-align: center;
}

.corect_text{
    font-family: 'GTWalsheim-Regular', sans-serif;
}
.frame_but{
	border-color: $orange;
	color: $orange;
	background:transparent;	
	&:hover{
		color: $dark_orange;
		border-color: $dark_orange;
	}
	&:focus{		
		color:$v_dark_orange;
		border-color: $v_dark_orange;
	}
}
.search_icon{
    width: 21px;
    height: 25px;
    fill: #404040;
    position: absolute;
    left: 21px;
    top: 50%;
    margin-top: -13px;
    z-index: 1;
}
.company_ico{
	margin-top: 20px;
}
.table .radio_mobile{
	vertical-align: middle;
}
.mobile_buying{
    align-items: flex-start;
}
.stroke_activait{
	.noact_ico{
		display: none;
	}
	&.active{
		.act_ico{
			display: none;
		}
		.noact_ico{
		    fill: #0caee4;
			display: block;
		}
	}
}
// modal quest
.text_questions{
	font-size: 14px;
    margin-top: 26px;
    line-height: 1.2em;
}
.ask_quest{
	.modal-body{
		padding: 35px 0 10px;
    	margin-top: 12px;
    	border-top: 1px solid #cccccc;
	}
	.wrapp_check{
	    padding-left: 40px;
        margin-left: 3px;
    	margin-bottom: 23px;
	    .custom_check{
		    margin-left: -40px;
		}
	} 
}
.message_area{
    margin-bottom: 33px;
	min-height: 300px;
}
.ask_a_guestion{
	.select-styled{
		padding: 20px;
	}
	.select{
		margin-bottom: 20px;
		min-height: 60px;
	}
}
.rating_modal .modal-body {
    padding: 30px 0 10px;
    .text_questions{
		margin-top: 0;
	    margin-bottom: 18px;
    }
    .mb0{
    	margin-bottom: 0;
    }
    .rating {
	    margin-bottom: 13px;
    	.star {
    		cursor:pointer;
    		fill:$grey;
		    max-width: 30px;
		    max-height: 36px;
		    .star_fill{
		    	display: none;
		    }
		    &.activeStar{
		    	fill:$orange;
		    	.star_empty{
		    		display: none;
		    	}
		    	.star_fill{
			    	display: block;
			    }
		    }
		}
	}
}
.listView{
	.col_view{
		&:hover{
	    	&+.product_related {
	    		border-top: none;
	    	}
	    }
	}
}
.col_view{
	transition: 0.3s;
	&:hover{
    	transform: scale(1.05);
    	&+.product_related {
    		border-top: none;
    	}
    }
}

@include media-breakpoint-up(lg) {
	.pdp_page .reposited_info{
		width: 50%;
	}
	.mob_slide_prod{
		.swiper-wrapper{
			display: block;
			height: auto;
		    transition-property: none;
    		transform:none!important;
		}
		.swiper_btn_next,
		.swiper_btn_prev{
			display: none;
		}
	}
}

@include media-breakpoint-up(md) {
	.pop_page{
		padding-left: 0;
		padding-right: 0;
	}
	.listView{
	    margin-left: 0;
		margin-right: 0;
	}
}

.line{
	width: 100%;
	height: 1px;
	background: $grey;
    margin: 27px 0 20px;
}
.inform_cont{
	margin: 0;
}
.subimages_pdp{
	margin-bottom: 35px;
	@include media-breakpoint-down(md) {
		margin-bottom: 15px;
	}
}

@include media-breakpoint-up(lg) {
	.mobile_buying{
		max-width:570px;
	}
	.collapse_in_mobile .semi_open_block.collapse {
		display: block;
		height: auto !important;
	}
	.collapse_in_mobile .pdp_title{
		pointer-events: none;
	}
	//fixed info block
	.fixed_scrolable{
		padding-top: 20px;
		width:48%;
	}
	.fixed_info{
		position: fixed;
		padding-top: 0;
		right: 0;
		top: 210px;
		max-width: 600px;
		left: 50%;
	}
	.reposited_info{
		position: absolute;
	}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.fixed_scrolable{
		max-width:50%;
	}
	.fixed_scrolable.fixed_info{
	    width: 40.8%;
	}
	.fixed_scrolable.fixed_info.reposited_info{
	    width: 50%;
	}
	
}
@include media-breakpoint-down(lg) {

	.wrap_buying .btn_orange{
		padding-right: 0;
	}
	
	.redirect_flex{
		flex-direction: column;
		align-items: flex-start;
	}
	.arrow_colapse{
		transition: 0.4s;
		width: 28px;
		height: 30px;
		fill: $blue;
	}
	.collapse_pdp {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		align-items:center;
		.arrow_colapse{
			transform: rotate(180deg);
		}			
		&.collapsed{
			.arrow_colapse{
				transform: rotate(0deg);
			}
		}
		&:hover{
			text-decoration: none;
		}
	}
	.fixed_scrolable {
	    width: 42%;
	}
	.reposited_info{
		width: 45%;
	}
}
@media (max-width: 1200px){
	.pagination_arrow .nums {
	    padding: 0 2px;
	}
	.wrap_buying .bascet_add {
	    margin-right: 0;
	}
}

@include media-breakpoint-down(md) {
    .fixed_scrolable{
		width: 100%;
		max-width: 100%;
	}
    .footer_whith_fix{
        margin-bottom: 185px;
    }
	.wrap_buying .but_triangle{
		&:after{
			right: -30px;
	    	border: 22px solid transparent;
    		border-left: 9px solid $orange;
		}
		&:hover{
			&:after{
				right: -30px;
		    	border: 22px solid transparent;
	    		border-left: 9px solid $dark_orange;
			}
		}
		&:focus{
			&:after{
				right: -30px;
		    	border: 22px solid transparent;
	    		border-left: 9px solid $v_dark_orange;
			}
		}
	}
	.cont_res.collapse{
		margin: 0 -20px;
	    padding: 0 20px;
	}
	.search_item {
		flex-wrap:wrap;
		justify-content:space-between;
		.arrow_icon{
			order:1;
		}
		.title_que{
			order:2;
			max-width: 80%;
    		font-size: 14px;
		}
		.rating{
		    flex: 0 0 75%;
			order: 0;
		}
	}
	.search_result .cont_res{
		.wrap_mob_col{
			margin: 0 -20px;
			.mob_slide_prod {
				position: relative;
				padding: 0 40px;
			}
		}
	}
	.pdp_slide{
		.swiper_btn_prev,.swiper_btn_next{
			display: none;
		}
	}
	.search_result{
		.line_newresult{
			display: block;
		}
		.cont_post_linck{
			align-items:center;
		}
		.swiper_btn_next,
		.swiper_btn_prev{
			.svg_prev,
			.svg_next {
			    width: 25px;
			    height: 25px;
			    fill: $blue;		
			}
		}
		.swiper_btn_prev {
		    left: 0px;
		}
		.swiper-button-disabled{
			opacity: 0.5;
		}	
	}
	.result_question .cont_res {
		margin: 0 -20px;
		.mob_slide_prod {
			padding: 0 40px;
		}
	}
	.search_item.items_question{
		.arrow_icon {
		    order: 0;
		}
		.autor_repos{
			padding-top: 7px;
		}
	}
	.frameBigautor{
		.icon-sing_up{
			display: none;
		}
	}
	.line_newresult {
		margin-left: 0;
		.corect_likedislike {
			display: none;
		}
	}
	.autor_repos{
		font-size: 14px;
		padding-bottom: 10px;
		font-family: 'GT-Walsheim-Regular';
	}
	.mobile_coment{
		text-decoration: none;
	}
	.cont_res {
		padding-left: 0;
		padding-top: 15px;
		.icon-sing_up{
			display: none;
		}
	}
	.cont_post_inf{
		display: none;
	}
	.cont_post_linck{
		display: flex;
		justify-content:space-between;
		width: 100%;
	}
	.paginat_wrap{
		display: none;
	}
	.result_question .autor_result{
		margin-left: 0;
	}
	.search_icon {
	    left: 10px;
	}
	.question_form{
    	padding: 10px 0 10px 34px;
    	font-size: 15px;
	}
	.seatch_question .error_text{
		font-size: 13px;
	}
	.social_shared .icons_social{
		margin-right: 4px;
	}
	.arthref .icon-container ul li {
	    display: inline-block;
	    width: 75px;
	    height: 110px;
	    margin: 5px;
	}
	.select_row{
		margin-left: 4px;
		.select{
			max-width: 45%;
			.select-styled{
				text-align: center;
				border:2px solid $blue;
			    padding: 10px 2px 6px;
			    font-size: 14px;
				&:after,&:before{
					content: none;
				}
			}
		}
		.select-options	li{
			text-align: left;
		}
	}
	.cont_mobile_repos{
	    display: flex;
    	justify-content: space-between;
	}
	.sticky_mobile{
		.cont_mobile_repos{
			padding-bottom: 10px;
		}
	}
	.invers_but{
	    padding-left: 8px;
	}
	.raiting_cont {
	    align-items: flex-start;
	    flex-direction: column;
	}
	.rating_anoth.rating{
		flex:0;
		margin-bottom: 30px;
	}
	.sticky_mobile {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 2;
		background: $white;
		bottom: 0;
		width: 100%;
	}
	.wrap_buying{
		.btn_orange{
			max-height: 45px;
		}
	}
	.pager {
		margin-bottom: 0px;
		margin-top: 14px;
		padding-left: 3px;
	}
	.image_product_big{
		img{
			max-height: 290px;
		}
	}
	.product_mob{
		max-width: 45%;
	}
	.product_title {
		font-size: 16px;
	}
	.product_description{
		font-size: 14px;
		margin-bottom: 9px;
	}
	.repos_to_buying{
		padding-left: 24px;
	}
	.select_row {
		margin: 43px 0 0 0;
	}
	.select_descript{
		.options_baying{
			font-size: 14px;
			padding-right: 6px;
		}
	}
	.tr_buying {
		.js_mob_pdp_2{
			width: 35%;
		}
		.js_mob_pdp_4{
			width: 0;
			padding: 0;
		}
		.radio_mobile{
			 padding: 12px 0 0px 0px;
		}
		.js_mob_pdp_3_2{
			line-height:2.4em;
		}
		.js_mob_pdp_2_2{
			padding-left: 3px;
		}
		.radio_mobile{
			vertical-align: top;
		}
	}
	.table{
		margin-top: 28px;
	}
	.price_box{
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		align-items:center;
		margin-top: 0;
		.current_price {
			font-size: 28px;
			flex: 1 1 auto;
		}
		.sale,.old_price  {
			font-size: 20px;
			padding: 0 15px 0 0;
			margin: 0;
		}
	}
	.linck_buying {
		font-size: 13px;
		line-height: 0.9em;
		margin-left: 4px;
		text-decoration: underline;
		color:$black;
	}
	.quanity_distace{
		padding:0;
	}
	.wrap_buying{
		margin-top: 4px;
	}
	.like_button {
		max-width: 84px;
		height: 46px;
		margin-left: 4px;
	}
	.wrap_buying .btn_orange { 
		padding-right: 5px;
		margin-left: 18px;
		font-size: 10px;
		padding-left: 12px;
	}
	.wrap_buying .bascet_add {
	    margin-right: 5px;
	}
	.shipping_buying {
		display: inline-block;
		vertical-align: top;
		font-size: 12px;
		margin:4px;
	}
	// pdp mobile style
	.pdp_page{
		.pdp_title{
			margin-bottom: 0;
		}
		.product_title {
			font-size: 18px;
		}
		.repos_to_buying {
			padding-left: 5px;
			padding-top: 10px;
		}
		.product_description {
			font-size: 16px;
			margin-top: 9px;
		}
		.product_mob {
			max-width: 100%;
		}
		.subimages_pdp {
			margin-top: 8px;
			padding: 0 5px;
		}
		.pdp_sections{
			padding: 18px 1px;
			margin:0 14px ;
		}
		.social_shared {
			margin-top: 19px;
			padding: 20px 0 18px;
		}
		.shared_but{
			margin-left: 0;
			padding-right: 11px;
		}
		.tracklist {
			padding-bottom: 18px;
		}
		.product_details {
			padding-bottom: 18px;
		}
		.description_pdp .pdp_title {
			margin-bottom: 0;
		}
		.details {
			margin: 0;
		}
		.review_title{
			margin: 0 14px;
			padding: 19px 0 16px;
		}
		.sect_help{
			padding: 29px 0;
		}
		.related_list{
			margin-top: 25px;
		}
		.tracklist {
			.subtitle_pdp {
				margin-top: 14px;
			}
			.play_image{
			   margin: 0px 17px 4px 10px;
			}
		}
		.play_text{
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			line-height: 1.3em;
			margin-bottom: 4px;
		}
		.details_list{
			justify-content: space-between;
			.details_one{
				flex: 0;
			}
			&:first-child{
				margin-top: 15px;
			}
		}
		.padd_description{
			padding-top: 15px;
			display: inline-block;
		}
		.details_twoo{
			padding-right: 7px;
			.details_list:last-child{
				padding-bottom: 9px;
			}
		}
		.revews_sect{
			padding-top: 5px;
		}
		.line_fullness{
			width: 187px;
			margin-right: 15px;
		}
		.pdp_raiting {
			margin-bottom: 16px;
		}
		.review_but{
			width: 100%;
			margin-bottom: 16px;
		}
		.pdp_review {
			.rating {
				margin-bottom: 6px;
				margin-top: 18px;
			}
			.pdp_title_anoth {
				margin-bottom: 8px;
			}
			.shared_but {
				max-width: 100%;
				margin: 16px 0 11px 0;
				padding: 10px;
			}
		}
		.corect_likedislike{
			margin-top: 7px;
			margin-left: -7px;
		}
		.like_dislike{
			margin: 0 1px;
		}
		.semi_open_block{
			position:relative;
			max-height: 144px !important;
			display: block!important;
			overflow: hidden;
		}
		.description_text.semi_open_block{
			max-height: 156px!important;
		}
		.semi_open{
			.arrow_colapse{
				transform: rotate(0deg);
			}
		}
		.semi_open_block:after{
			content:'';
			width: 100%;
			height:90px;
			position: absolute;
			bottom:0;
			left: 0;
			right: 0;
			box-shadow: inset 0 -117px 95px -51px white;
		}
	}
	.wrap_buying .btn_orange{
		margin-left: 0;		
	}
	.wrap_buying{
	    margin-bottom: 10px;
	 	.invers_but{
			&:after {
			    border: 22px solid transparent;
		        border-left: 9px solid #F16130;
			}
		}
	}
	//end pdp mobile style
}

//social close
.icon-container .centered{
	position: relative;
	&:after,
	&:before{
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: auto;
	    display: block;
	    content: "";
	    height: 0.1em;
	    width: 2.5em;
	    transform: rotate(45deg);
        background-color: $white;
        cursor: pointer;
	}
	&:before{
	    transform: rotate(-45deg);
	}
}
//end social close

.no_border{
	border:none;
}