@import "_inc/_all_inc";

.check_header{
	min-height: 130px;
	background: $blue;
	.cont_co_head{
		display: flex;
		justify-content:space-between;
		align-items:center;
		padding: 58px 17px 29px; 
	}
	.source_check_out{
	    width: 47px;
	    height: 30px;
	    fill: #fff;
	    margin-left: 5px;
	    stroke: #fff;
	}
}
.font_bold.text_questions{
	margin-top: 0;
}
.head_inform{
	display: flex;
	align-items:center;
	padding-top: 18px;
}
.phone_icon{
	fill:$white;
 	width: 18px;
    height: 21px;
    transform: rotate(16deg);
}
.confirm_head{
	background:$confirm_bg;
}
.title_phone{
	color: #ffffff;
	font-size: 11px;
	padding-left: 3px;
}
.title_confirm{
	font-size: 24px;
    margin-bottom: 37px;
}
.big_blue{
	color: $blue;
}
.text_all{
    margin-bottom: 24px;
    max-width: 570px;
    .orange_text{
    	color: $orange;
		text-transform: uppercase;
    }
}
.thank{
	background: $bg_ligt_blue;
	border-radius: 3px;
	margin-top: 29px;
	display: flex;
	align-items:center;
    justify-content: space-between;
    margin-bottom: 36px;
    padding: 23px 18px 22px 38px;
}
.get_voucher{
	max-width: 169px;
	max-height: 45px;
}
.voucher_orange{
	max-width: 300px;
}
.thank_title{
	font-size: 18px;
	margin-bottom: 0;
}
.cont_co{
	.btn_mwidth{
		max-width: 270px;
		width: 100%;
	    margin-top: 34px;
	    margin-bottom: 21px;
	    display: inline-block;
	    text-align: center;
	    padding:15px;
	    text-decoration: none;
	}
}
.link{
	color: $blue;
}
.title_thank{
	font-size: 16px;
	text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 23px;
}
.sign_newslater{
	background:$bg_ligt_blue;
    padding: 31px 17px 31px 31px;
    margin-bottom: 21px;
}
.check_block{
	padding-top: 12px;
	border-bottom:1px solid $grey;
	padding-bottom: 25px;
	.wrapp_check{
		width: auto;
	}
}
.promotion_cont{
	width: 100%;
	height: 100%;
	background-color: $anoth_grey;
    display: flex;
    text-align: left;
    padding: 180px 33px 16px;
}
.promotion_text{
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    color: #757575;
}
.corect_check{
	margin-bottom: 16px;
}
.check_oneline{
	display: block;
	margin:0 3px 14px 3px;
}
.send_newslater{
	display: flex;
	align-items:center;
    justify-content: space-between;
}
.label_sign{
	margin: 0;
	width: 45%;
	.input_co {
		margin: 0;
	}
}
.btn_send{
	max-width: 169px;
	max-height: 45px;
}
.subtitle_sign{
	color:$lght-grey;
	font-size: 14px;
}
.checked_col{
	width: 29px;
	height: 29px;
	border: 2px solid $white;
	fill:$white;
	border-radius: 50%;
	padding: 3px;
	margin-left: 15px;
    flex: 0 0 29px;
}
.title_head_check{
	font-family: 'GT-Walsheim-Light';
	color: $white;
	font-size: 35px;
    align-items: center;
    display: flex;
    margin-bottom: 0;
}
.links_co{
	color: $white;
	font-size: 11px;
	text-decoration: underline;
    padding-left: 3px;
    &:hover{
		color: $white;
    } 
    &:focus{
		color: $white;
    }
}
.step_number{
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	padding-top: 9px;
	width: 30px;
	height: 30px;
	color: $white;
	background-color: $orange;
	font-size: 16px;
	margin-right: 11px;
    flex: 0 0 30px;
}
.cont_steps{
	max-width: 200px;
	flex: 1 1 200px;
}
.steps{
	margin-top: 65px;
	padding-bottom: 13px;
	.steps_style{
		color: $orange;
		display: flex;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 1em;
		padding-left: 1px;
	    padding-right: 25px;
	    &:hover{
	    	border-color:transparent;
	    	color: $grey;
	    }
	    &.active{
	    	color: $orange;
	    }
	}
}
.steps {
	.active .steps_style,
	.completed .steps_style{
		border-color:transparent;
		color: $orange;
		&:hover{
	    	color: $orange;
	    }
	}
}
.disable{
	// pointer-events: none;
	.steps_style{
		color: $grey;
	}
	.step_number{
		background-color: $grey;
	}
}
.check_mark{
	display: none;
}
.title_co{
	font-size: 24px;
	margin-bottom: 37px;
}
.forms_step{
	display: block;
	color: $lght-grey;
	font-size: 14px;
	margin-top: 21px;
    margin-bottom: 27px;
}
.capcha_cont{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	border: 1px solid $grey;
	width: 100%;
    margin-top: 29px;
    margin-bottom: 29px;
    font-size: 14px;
}
.input_co{
	display:block;
    width: 100%;
    margin-top: 4px;
    font-size: 18px;
    padding: 15px 17px;
    border: 1px solid $grey;
}
.cont_co{
    margin-top: 45px;
    padding-left: 2px;
}

.conformation{
	.edit_ico{
		opacity: 0;
	}
	&.confirm_sm{
		&:hover{
			background-color: rgba($blue,0.1);
			.edit_ico{
				opacity: 1;
			}
		}
	}
	&.confirm_over{
		&:hover{
			background-color: rgba($blue,0.1);
			.edit_ico{
				opacity: 1;
			}
		}
	}
}

.ico_absol {
    position: absolute;
    right: 0;
    top: 10px;
}


.wrap_form_co{
    padding: 0 15px 0 14px;
    flex: 0 0 44.5%;
	&.right_border{
		border-right: 1px solid $grey-lines;
	}
}
.new_acc{
	.register_mode{
		display: block;
	}
	.login_mode{
		display: none;
	}
}
.register_mode{
	display: none;
}
.login_mode{
	display: block;
}

.forgot_pasword{
	color: $lght-grey;
	font-size: 14px;
	text-decoration: underline;
    margin-top: 16px;
    margin-bottom: 28px;
    display: block;
}
.but_creatly{
    padding: 17px 10px;
    width: 100%;
    margin-top: 7px;
}
.order_wrap{
	background-color: rgba($blue,0.1);
	padding: 16px 10px 0 9px;
	margin-bottom: 22px;
}
.oreder_cont{
	margin-top: 92px;
    padding: 0 13px 0 18px;
}
.your_order{
	font-size: 16px;
	color: $blue;
	text-transform: uppercase;
    margin-bottom: 12px;
}
.oreder_cont {
	.orders{
		font-size: 14px;
	    padding-bottom: 5px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		.cost_block{
			font-size: 16px;
		}
	}
	.total_cost .cost_block {
	    font-size: 24px;
	}
}
.line_white{
    width: 100%;
    height: 1px;
    background: #fff;
    margin: 6px 0 11px;
    display: block;
}
.total_cost{
	font-size: 16px;
	.cost_block{
		font-size: 30px;
	}
	.total_text{
		padding-top: 9px;
	}
}
.cont_options{
	flex: 0 0 100%;
    padding: 12px 0 29px 0;
    border-bottom: 1px solid $grey-lines;
    .wrapp_check{
    	width: 20px;
		height: 20px;
		margin-right: 21px;	
        flex: 0 0 20px;
		border-radius: 50%;
	    align-self: flex-start;
		position: relative;
		display: inline-block;
		border: 1px solid $black;
		margin-bottom: 0;
    }

    .text_cont{
    	margin: 0;
    	font-size: 16px;
    	line-height: 1.3em;
    	flex: 0 1 100%;
	    &.text_anoth{
	    	font-size: 18px;
	    }
    }
    &.gift_corect{
    	margin-top: 17px;
    }
    .text_options{
    	display: block;
    	margin: 0;
    }
    .option_subtitle{
    	margin: 0;
    }
  	.custom_check:checked + .check_box{
		width: 10px;
		height: 10px;
		background: $blue;
		display: inline-block;
		border-radius: 50%;	
		position: absolute;
		top:0;
		left:0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
    .options{ 
		margin: 0 0 22px 0;
	    padding: 21px 10px 17px;
    	display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
    }
    .options_anoth{
		margin: 31px 0 0 0;
		padding: 19px 10px 17px;	
    }
}
.info_metod{
    width: 26px;
    height: 24px;
	fill: $blue;
	vertical-align: middle;
	margin-left: 7px;
}
.options_two{
	padding-top: 27px;
    padding-bottom: 0;
}
.options_title{
	display: flex;
	align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 31px;
}
.but_edit{
    align-self: flex-end;
    padding: 10px 20px;
    max-width: 169px;
    width: 100%;
    margin-right: 9px;
    background:$white;
}
.new_adress{
	width: 100%;
    padding: 48px 0;
    margin: 0;
}
.bot_bord{
    padding-bottom: 27px;
    border-bottom: 1px solid $grey-lines;
}
.bill_adres{
	padding-top: 13px;
	.options_title{
		margin-bottom: 8px;
	}
	.checkbox_co{
		margin: 14px 0 0px 2px;
		margin-bottom: 32px;
	}
	.icon_checkbox{
		margin-right: 26px;
	}
	.cont_options{
		padding-bottom: 0;
	}
}
.billing_top{
	padding-top: 40px;
}
.closeOption{
	display: block;
}
.options,
.options_anoth{
	background:$bg_ligt_blue;
	padding: 19px 10px 17px;
}
.noRememBer{
	.closeOption{
		display: none;
	}
	.options{
		background-color: rgba($blue,0.08);
	}

}
.checkbox_co {
	cursor:pointer;
}


// 3 step
.card_edit{
	background-color: $bg_ligt_blue;
	padding: 0 50px 4px;
}
.payments{
	.options_title {
	    margin-bottom: 34px;
	}
	.cont_options .options_anoth {
 	   margin: 21px 0 0 0;
	}
	.form-gr{
		max-width: 47%;
	}
	.form_one{
	    max-width: 42.6%;
	}
	.use_woice{
		padding-top: 36px;
		.options_title{
			margin-bottom: 20px;
		}
	}
	.but_voucher{
	    padding: 18px;
	    margin-top: 2px;
	    max-width: 271px;
	    width: 100%;
	}
}
//end 3 step

//4 step
.edit_ico{
    width: 25px;
    height: 25px;
    fill: #0caee4;
    margin-top: -5px;
    cursor:pointer;
}
.conformation{
	border-radius: 3px;
	// background-color: $bg_ligt_blue;
    padding: 6px 9px;
    margin-bottom: 28px;
    &:hover{
    	background:$bg_ligt_blue;
    }
}
.order_conformation {
	.confirm_sm{
		text-decoration: none;
		color: $color-text;
		outline:none;
	}
}
.confirm_sm{ 
	flex:0 0 45%;
	margin-right: 5%;
	background-color: transparent;
	&:hover{
		background-color: rgba($blue,0.1);
	}
}
.title_conf{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $blue;
	font-size: 16px;
	text-transform: uppercase;
	padding-top: 5px;
}
.text_conform{
    font-size: 14px;
    line-height: 1.23em;
    margin-bottom: 0;
}
.order_conformation {
    margin: 0;
    max-width: 71%;
}
.image_overview{
	float: left;
}
.order_overview{
	margin-top: 19px;
	.edit_ico{
		margin-right: 0;
	}
}
.conformation_wrap{
	display: flex;
	margin-top: 10px;
}
.date_input{
	min-height: 60px;
	background: $white;
}
.image_overview{
    margin-right: 31px;
    margin-top: 5px;
}
.img_overview{
	width: 170px;
	height: 170px;
	background: $bark_grey;
}
.info_overview{
	width: 100%;
	.text_conform {
		margin-bottom: 12px;
	}
	.bold_smal{
		font-size: 16px;
		margin-left: 4px;
	}
	.subtitle_conf{
	    margin-bottom: 33px;
		font-size: 16px;
	}
	.cost_big{
		font-size: 24px;
	}
	.title_contorm{
		font-size: 18px;
		max-width: 80%;
		margin-bottom: 5px;
	}
	.shop_conf{
	    flex: 0 1 52%;
	    margin-left: 4px;
	}
	.flex_cont{
		display: flex;
	}
	.quanity_conf{
		margin-left: 9px;
	}
	.line_conf{
	    flex: 1 0 50%;
   		margin-left: 9px;
	}
}
.big_conform{
	border-bottom: 1px solid $grey-lines;
    margin-bottom: 0;
    padding-bottom: 3px;
}
//end 4 step



// inputs and step
.continueBLock{
	.btn_orange{
		display: none;
	}
}
.completed{
	.check_mark{
	    width: 22px;
	    height: 20px;
		fill: #ffffff;
		display: block;
	}
	.step_number {
		font-size: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
	}	
}
// inputs and step
.cat_name {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    margin: 25px 5px 4px 3px;
}
.check_out_page{
	// padding-bottom: 55px;
	margin-bottom: 100px;
	@include media-breakpoint-down(sm) {
		margin-bottom: 55px;
	}
	.pdp_slide{
		padding-bottom: 0;
	}	
}
.top_sellers{
	margin-top: 10px;
	margin-bottom: 10px;
}
.start_confirm{
	align-items:flex-start;
	padding-top: 10px;
	.title_confirm_one{
		padding-top: 10px;
	}
}
.no_bord{
	border-bottom: none;
}
.wrap_gifts{
    flex: 0 0 100%;
    padding: 29px 0;
    border-bottom: 1px solid $grey-lines;
    .checkbox_co {
    	display: inline;
    }
}
@include media-breakpoint-down(md) {
	.confirm_head{
		.cont_co_head{
			padding-top: 58px;
		}
	}
	.send_newslater{
		flex-direction:column;
	}
	.label_sign{
		width:100%;
		margin-bottom: 5px;
	}
	.btn_send{
		max-width: 100%;
	}
	.promotion_cont{
		height: auto;
		padding:25px;
	}

	.cont_co_head{
		flex-direction:column;
		.title_head_check{
		    font-size: 25px;
		}
	}
	.steps {
	    margin-top: 18px;
	    padding-bottom: 16px;
    	display: flex;
	    .steps_block {
	    	width:25%
	    }
		.steps_style {
			padding: 0;
			min-width: auto;
		    display: flex;
    		align-items: center;

		}
		.disable{
			.mobile_line{
				&:before{
					background: $grey;
				}
			}
		}
		.mobile_line{
			&:before{
			content:"";
			position: relative;
			display: inline-block;
			height: 1px;
			width: 100%;
			background: $orange;
			}
		}
		.step_number {
			margin:0 3px;
		}
		.no_m_line{
			width: auto;
			flex:0 0 36px;
			.step_number {
				margin:0 0 0 3px;
			}
		}
	}
	.wrap_form_co{
		padding-left: 0;
		padding-right: 0;
		flex:  100%;
	}
	.cont_co {
        margin: 30px 6px 0 4px;
	    padding-left: 0px;
	}
	.title_co {
	    font-size: 18px;
	    margin-bottom: 24px;
	}
	.wrap_form_co.right_border{
		padding-bottom: 33px;
		border-right: none;
		border-bottom: 1px solid $grey;
	}
	.reg_wrap{
		margin-top: 25px;
	}
	.but_creatly {
	    padding: 10px 10px;
	    margin-top: 5px;
	}
	.forms_step{
	    margin-bottom: 23px;
	}
	.cont_options{
		padding-top: 1px;
		.text_cont{
			flex:1 0 50%;
		}
		.but_edit{
			flex: 0 0 100%;
		    margin-left: 42px;
    		margin-top: 4px;
    		max-width: 115px;
		}
		.options{
			flex-wrap:wrap;
		}
	}
	.bill_adres {
	    padding-top: 29px;
	    padding-left: 4px;
	    .checkbox_co{
			margin: 15px 0 1px 2px;
	    }
	    .checkbx_text {
		    font-size: 16px;
		}
		.info_metod{
			margin-left: 49px;
		}
		.info_use_adres{
			display: none;
		}
		.custom_check:checked ~ .info_use_adres{
			display: block;
		}
		.cont_options {
		    margin-top: 43px;
		}
	}

	.card_edit {
	    padding: 0 9px 4px;
	    .form-group {
		    margin-bottom: 26px;
		}
	}
	
	.cont_options{
		padding-bottom: 18px;
	}
	.options_two{
		.options_title{
			margin:15px 0;
		}
	}
	.payments .use_woice {
	    padding-top: 22px;
	}
	.payments {
		.form-gr {
	 	   max-width: 100%;
		}
		.form_one{
			max-width: 100%;
		}
		.but_voucher {
		    padding: 11px;
		    margin-top: 0px;
		    max-width: 100%;
		}
	}

	.order_conformation{
		max-width: 100%;
	}
	.conformation{
    	padding: 3px 3px 3px 11px;
    	margin-bottom: 41px;
    	.title_conf{
			font-size: 14px;
    	}
    	.edit_ico{
			margin-right: 6px;
    	}
	}
	.order_overview {
	    margin-top: 0px;
	}
	.image_overview {
	    margin-right: 19px;
	    margin-top: 1px;
	    margin-bottom: 0;
		.img_overview {
		    width: 83px;
		    height: 82px;
		    background: #898989;
		}
	}
	.info_overview{
		.title_contorm{
		    font-size: 16px;
		    font-family: "GT-Walsheim-Regular";
		    margin-bottom: 0;
		    margin-top: 2px;
		}
		.text_conform {
		    margin-bottom: 8px;
		    margin-left: 0;
		}
		.subtitle_conf{
			font-size: 14px;
		    font-family: "GTWalsheimBold";
	        margin-top: 5px;
			margin-bottom: 17px;
		}
		.bold_smal {
		    font-size: 14px;
		    margin: 0;
		}
		.cost_info{
		    flex-wrap: wrap;
		}
		.cost_big{
			flex:100%;
			text-align: right;
			font-size: 20px;
		    padding: 9px 4px 3px;
		}
	}
	.big_conform {
        padding-bottom: 9px;
		margin-bottom: 6px;
	}
	.reposQuanity {
		flex:100%;
		padding-top: 8px;
	}
	.cont_options{
		padding-bottom: 0;
	}
	.order_wrap{
		padding-top: 9px;
	}
	.oreder_cont {
		margin-top: 0;
	    padding: 0 15px 0 14px;
	}
	.your_order{
		font-size: 14px;
		margin-bottom: 10px;
	}
	.total_cost .cost_block {
	    font-size: 24px;
	}
	.fixed_cost{
		position: fixed;
		bottom:0;
		left: 0;
		right: 0;
		width: 100%;
	    padding: 0 15px;
	}
	.hiddenCont{
		display: none;
	}
	.TotalHide{
		display: none;
	}
	.tabsCor{
		padding-bottom: 75px;
	}
	.conformation_page{
		.tabsCor{
			padding-bottom: 0;
			margin-left: 0;
			margin-right: 0;
		}
		.promo_img{
			margin-bottom: 20px;
		}
		.bg_pink{
			margin-left: 0;
			margin-right: 0;
		}
	}
	.orderHide{
		display: none;
	}
	.TotalShow{
		.orderHide{
			display: block;
		}
		.TotalHide{
			display: flex;
			background: $bg_ligt_blue;
		}
	}
}
@include media-breakpoint-down(sm) {
	.conformation{
		&.confirm_sm{
			background-color: rgba(12, 174, 228, 0.1);
			.edit_ico{
				opacity: 1;
			}
		}
	}
	.order_overview{
		background-color: rgba(12, 174, 228, 0.1);
		.edit_ico{
			opacity: 1;
		}
	}
}
@include media-breakpoint-down(xs) {
	.conformation{
		&.confirm_sm{
			flex: 0 0 100%;
		}
	}
}
//for touch devices
.touchevents{
	.conformation{
		&.confirm_sm{
			background-color: rgba(12, 174, 228, 0.1);
			.edit_ico{
				opacity: 1;
			}
		}
	}
	.order_overview{
		background-color: rgba(12, 174, 228, 0.1);
		.edit_ico{
			opacity: 1;
		}
	}
}