@import "_inc/_all_inc";

.wrapp_slider{
	padding-top: 17px;
	@include media-breakpoint-down(sm) {
		padding-bottom: 50px;
	}
}
.title_cat{
	font-size: 18px;
	// color: #fff;
	padding-top: 44px;
	@include media-breakpoint-down(sm) {
		padding-top: 18px;
	}
}
.slider_text{
	font-size: 35px;
	font-family: 'GT-Walsheim-Light';
	max-width:270px;
	margin: auto;
	line-height: 1.2;
	padding-top: 13px;
	padding-bottom: 34px;
	@include media-breakpoint-down(sm) {
		padding-top: 0px;
		padding-bottom: 10px;
	}
}
.top_slider {
	padding-top: 0;
}
.slidersHome {
	.contain{
	    padding-right: 12px;
    	padding-left: 12px;
	}
	.row{
		margin-left: 0;
		margin-right: 0;
	}
}
@include media-breakpoint-down(md) {
	.title_cat{
		font-size: 14px;
	}
	.slider_text{
		font-size: 18px;
	}
	.link_shop {
		font-size: 14px;
		.content_arrow{
			font-size: 24px;
		}
	}
	.custom_slider{
		[class*="col-"]{
			padding-right: 0;
			padding-left: 0;
		}
	}
	.swiper_btn_next,
	.swiper_btn_prev{
		padding: 0;
		width: 20px;
	}
	.svg_prev,
	.svg_next{
		width: 20px;
	}
}
.main-margin{
	margin: 50px auto 100px;
	@include media-breakpoint-down(sm) {
		margin: 50px auto;
	}
}
.promoted_box{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	p{
		font-size: 12px;
		font-weight: 900;
		margin: 2px 0 0px;
		text-align: center;
		letter-spacing: 0.3px;
	}
	.img-fluid {
		max-height: 100%;
	}
}
.cat_name{
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 4px;
	letter-spacing: 0.5px;
	a{
		color: $blue;
		text-decoration: none;
	}
}
.subcategory{
	a{
		color: #000;
		text-decoration: none;
	}
}
.wrapp_img{
	height: 150px;
	width: 150px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.item_category{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	// flex: 1 1 16%;
		@include media-breakpoint-down(md) {
			flex: 1 1 33%;
		}
		@include media-breakpoint-down(sm) {
			flex: 1 1 50%;
			 margin-bottom: 40px;
		}
}
.slider_product, .slider_product2{
	max-width: 85%;
	margin: 0;
	display: flex;
	@include media-breakpoint-down(sm) {
		max-width: 100%;
	}
}


.slider_content{
	display: flex;
	.left_part{
		flex: 0 0 35%;
		@include media-breakpoint-down(sm) {
			flex: 0 0 25%;
		}
	}
	// .right_part{
	// 	flex: 1 1 69%;
	// }	
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: rgba(73, 109, 189, 0.7);
  background-color: rgba(29, 30, 28, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_img:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
button:focus {
	outline: none;
}
.promo_marg{
	margin: 0 30px;
		@include media-breakpoint-down(md) {
			margin: 20px 0px;
		}
}
.album_title{
	margin: 20px auto;
	letter-spacing: 0.5px;
	line-height: 16px;
}
.new_slide {
	padding: 0 0 5px;
	.swiper_btn_next, .swiper_btn_prev {
		margin-top: -60px;
	}
}
.text_block{
	margin: 0 0 30px;
}
.main_text{
	display: flex;
	justify-content: space-between;
    line-height: 18px;
}
.title_text_block {
    letter-spacing: 1px;
    word-spacing: 1px;
	margin: 0 0 27px;
	@include media-breakpoint-down(sm) {
		font-size: 16px;
	}
}
.description_text_block{
	display: flex;
	flex: 0 0 48%;
	text-align: justify;
	word-spacing: -1px;
	letter-spacing: 0px;
	line-height: 18px;
	@include media-breakpoint-down(sm) {
		font-size: 14px;
	}
}
.bg_slider_img{
	background-image: url(img/artist_landing_page/R_S.png);
	background-size: contain;
	height: 350px;
	background-position: 250px 0;
	background-repeat: no-repeat;
	@include media-breakpoint-down(md) {
		height: 100%;
		background-position: 150px 0;
	}
	@include media-breakpoint-down(sm) {
		background-position: 50px 0;
		background-size: cover;
	}
}