@import "_inc/_all_inc";

						/* Left nav  styles */
.product_item{
	position: relative;
}
.wrap_info_last{
	display: flex;
	justify-content:space-between;
	align-items:center;
	padding-top: 15px;
}						
.list_products{ 
	.product_item{		
		position: relative;
		padding-top: 22px;
		padding-bottom: 22px;
		&:first-child{
			border-top: 1px solid $grey-lines;
		}
	}
	.section_title{
		margin-bottom: 13px;
	}
	.product_wrapp{
		padding-top: 0;
	}
	.cancel_circle{
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 5px;
	}
	.product_info{
		position: relative;
	}
	.payment_total{
		margin-bottom: 20px;
		padding-left: 9px;
		font-size: 14px;
	}
	.product_descrip{
		color: $color-text;
		display: block;
		margin: 0;
		padding: 0;
		padding-right: 37px;
	}
	.wrapp_total{
		flex: 0 1 270px;
		margin-right: 15px;
	}
	.wrapp_info{
		justify-content: space-between;
	}
	.subtitle{
		padding: 19px 0 11px;
	}
	.product_col2{
		flex-wrap: wrap;
		flex: 0 1 270px;
		.row_info{
			width: 100%;
			justify-content: space-between;
		}
		.product_price{
			width: 100%;
		}
	}
	.row_info{
		padding-top: 16px;
		@include flex_v_align($v_align: center);
	}
}
@include media-breakpoint-down(lg) {
	.list_products {
		.wrapp_info{
			flex-wrap: wrap;
		}
		.product_col2{
			flex: 0 1 100%;
		}
	}

}
@include media-breakpoint-down(md) {
	.list_products{ 
		.wrapp_total{
			flex: 1 1 100%;
		}
	}
}
@include media-breakpoint-down(xs) {
	.list_products{ 
		.product_info{
			position: static;
			display: inline;
		}
		.wrapp_info{
			display: inline;
		}
		.wrapp_total{
			margin-right: 0;
		}
		.cancel_circle{
			right: 10px;
			top: 15px;
		}
		.section_title{
			margin-bottom: 17px;
		}
	}
}
.cart_page{
	.product_item{
		margin-right: 15px;
		@include media-breakpoint-down(xs) {
			margin-right: 0;
		}
	}
	.product_price{
		font-size: 24px;
		@include media-breakpoint-down(lg) {
			padding-top: 15px;
    		flex: 1 0 90px;
		}
		@include media-breakpoint-down(xs) {
    		flex: 1 0 75px;
			font-size: 20px;
		}
	}
}
.watchlist_page{
	.product_item{
		.btn_orange{
			align-self: flex-end;
			flex: 0 1 270px;
		}
	}
	.product_col2{
		justify-content: center;
		text-align: center;
	}
	.product_item{
		margin-right: 0;
	}
	.product_price{
		font-size: 30px;
		@include media-breakpoint-down(xs) {
			font-size: 20px;
		}
	}
}
@include media-breakpoint-down(md) {
	.watchlist_page{
		.product_col2{
			text-align: right;
		}
		.product_price{
			padding-top: 6px;
			padding-bottom: 16px;
		}
	}
}