@import "_inc/_all_inc";

.login_page{ 
	.section_title{
		line-height: 1.2;
		margin-bottom: 41px;
	}
	.form_wrapp{
		border-left: 1px solid $grey-lines;
	}
	.main-form{
		.captcha_form{
			::-webkit-input-placeholder{
				text-align: center;
			} 
			::-moz-placeholder{
				text-align: center;
			}
			:-ms-input-placeholder{
				text-align: center;
			}
			:-moz-placeholder {
				text-align: center;
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	.login_page{
		flex-direction: column;
		.form_wrapp{
			border: none;
			margin-top: 57px;
		}
		.section_title{
			font-size: 18px;
			margin-bottom: 27px;
		}
	}
}