@import "_inc/_all_inc";

a{
	color:$blue;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none; margin: 0px;
}
input[type=number] {
    -moz-appearance:textfield;
}
.pdp_title {
    color: #0caee4;
    text-transform: uppercase;
    font-size: 14px;
}
.blue_text{
	color: $blue;
}
.top_pad_seler{
	padding-top: 100px;
}
.my_data{
	.main-form{
		max-width: 370px;
		margin-top: 25px;
	}
	.current_email{
		margin-bottom: 35px;
		margin-top: 25px;
	}
	.wrapp_check{
		padding-top: 20px;
		margin-bottom: 45px;
	}
} 
.allCanWisib.hidden,
.allCanDeleted.hidden{
	z-index: -10;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.my_watchlist{
	.product_item{
		position: relative;
		.cancel_circle {
			position: absolute;
			right: 0;
			top: 20px;
		}
	}
	.del_row{
		border-bottom: 1px solid $grey-lines;
	}
	.btn_orange{
		margin-bottom: 5px;
	}
	.product_item{
		padding-top: 22px;
		padding-bottom: 24px;
	}
	.product_col1{
		flex: 1 0 300px;
		@include media-breakpoint-down(lg) {
			flex-shrink: 1;
		}
	}
	.wrapp_info{
		align-items: flex-end;
		min-height: 93px;
	}
}
.frame_persone {
	padding-bottom: 10px;
}
.del_row{
	text-align: right;
	color: $blue;
	font-size: 14px;
	padding-top: 11px;
	padding-bottom: 18px;
	.cancel_circle{
		vertical-align: middle;	
		margin-left: 7px;
	}
}
.wrap_delete{
	display: inline-block;
}
// bring_friend page
.wrapp_friend{
	.main-form{
		max-width: 370px;
		@include media-breakpoint-down(xs) {
			max-width: none;
		}
	}
	.form-group {
		margin-bottom: 30px;
	}
	.form-bg{
		margin-bottom: 12px;
	}
	.add_more{
		margin-bottom: 45px;
	}
	.plus_circle{
		vertical-align: middle;
		margin-right: 15px;
	}
	textarea{
		min-height: 350px;
	}
	.type_form {
		margin-bottom: 5px;
		display: block;
	}
}
.friend_img{
	margin-bottom: 54px;
	margin-top: 69px;
	max-height: 300px;
	overflow: hidden;
	@include media-breakpoint-down(md) {
		margin-top: 0;
		margin-bottom: 25px;
	}
}
.nopt{
	padding-top: 0;
}
.title_friend{
	margin-bottom: 24px;
}
.title_friend,
.list_friend{
	font-size: 16px;
	line-height: 1.5;
}
.list_friend{
	font-size: 16px;
	line-height: 1.5;
	padding-left: 12px;
	margin-bottom: 26px;
	li{
		list-style: none;
		position: relative;
		&:after{
			width: 4px;
			height: 4px;
			border-radius: 50%;
			content: '';
			display: block;
			background-color: $black;
			position: absolute;
			top: 50%;
			margin-top: -2px;
			left: -12px;
		}
	}
}
.wrap_reset{
	flex: 0 0 44%;
	@include media-breakpoint-down(md) {
		flex: 0 0 100%;
	}
}
.lost_device{
	font-size: 14px;
	text-decoration: underline;
}
.info_sesion{
	.p_info_col{
		flex: 0 0 23%;
	    padding-right: 5px;
	}
	.info_last{
		flex: 0 0 31%;
		align-items:flex-end;
		justify-content:flex-end;
		display: flex;		
    	margin-bottom: 28px;
	}
	.but_reset_linck{
		min-width: 125px;
	    width: 65%;
	}
}
@include media-breakpoint-down(sm) {
	.info_sesion{
		.p_info_col{
			flex: 0 0 100%;
		}
		.p_info_row{
		    flex-wrap: wrap;
		}
		.info_last{
			flex: 0 0 100%;
		}
	}
	.my_orders {
		.orders .panel:last-child .last_no_bor{
			border-bottom: none;
		}
		.colums_session{
			flex-wrap:wrap;
			position: relative;
			.name_to_one{
				order:0;
				flex:0 0 80%;
			}
			.day_two_l{
				flex:0 0 50%;
				order:1;
			}
			.accord_arrow{
				order:0;
				flex:0 0 20%;
				margin-top: 0;
			}
		}
		.info_last{
			justify-content:flex-start;
			.but_reset_linck{
				width: 30%;
			}
		}
		.linck_mob_col {
			flex:0 0 100%;
			order:4;
		}
		.collapsed{
			.linck_mob_col{
				display: none;
			}
		}
	}
}


.two_reset{
	border-left: 1px solid $grey-lines;
    padding-left: 14px;
	.but_reset_linck{
	    margin: 35px 0 14px;
	    width: 100%;
	    padding: 18px;
	}
    @include media-breakpoint-down(md) {
		border-top: 1px solid $grey-lines;
		border-left:none;
		padding-top: 25px;
		padding-left: 0;
		.but_reset_linck{
		    margin: 15px 0;
		    padding: 10px;
		}
    }
}
.reset_frame{
	display: flex;
    align-items: flex-start;
    @include media-breakpoint-down(md) {
        flex-wrap: wrap;
    }
}
.wrap_persone{
    max-width: 800px;
    margin: 35px -15px;
    @include media-breakpoint-down(md) {
    	margin: 35px -10px;
    }
    .promo_img{
    	margin-top: 50px;
    }
}
// END bring_friend page
// my_account_my_addresses page
.add_address{
	@include  flex_h_v_align;
	border: 2px solid $blue;
	font-size: 	14px;
	height: 120px;
	letter-spacing: .5px;
	&:hover,
	&:focus{
		text-decoration: none;
	}
}
.wrapp_address{
	line-height: 1.5;
	font-size: 14px;
	padding: 17px 5px;
	margin: 20px 0; 
	background-color: $bg_ligt_blue;
	.btn_small{
		max-width: 170px;
		margin-left: auto;
		margin-right: 0;
	}
	[class^="btn_"]{
		@include media-breakpoint-up(sm) {
			margin-left: auto;
			margin-right: 0;
		}
		letter-spacing: .4px;
		margin: 15px 0;

	}
	.btn_white{
		letter-spacing: .4px;
	}
	.col{
		@include media-breakpoint-down(xs) {
			flex: 1 1 100%;	
		}
	}
	.btn_col{
		@include media-breakpoint-down(xs) {
			display: flex;
			.btn_orange{
				margin-right: 20px;
			}
		}
	}
	[class^="btn_"].btn_small{
		@include media-breakpoint-down(xs) {
			max-width: none;
			flex: 0 1 50%;
		}
	}
	&:last-child{
		margin-bottom: 0;
	}
}
.my_address{
	.description{
		margin-bottom: 32px;
		@include media-breakpoint-down(md) {
			margin-bottom: 21px;
		}
	}
}
.user_name{
	margin-bottom: 0;
}
.info_address{
	margin-bottom: 0;
	line-height: 1.4;
}
.wrapp_info{
	.btn_small{
		flex: 0 1 auto;
		// max-width: 170px;
	}
}
.change_pass{
	.explain{
		display: block;
		margin: 30px 0 20px;
	}
}
.max_widt_but{
    max-width: 370px;
    margin-top: 55px;

}
.my_watchlist .max_widt_but{
    @include media-breakpoint-down(xs) {
		margin: 20px 0 40px;
    }
}

@include media-breakpoint-down(sm) {
	.top_pad_seler{
		padding-top: 30px;
	}
}

//END my_account_my_addresses page
@include media-breakpoint-down(sm) {
	.my_watchlist{
		.product_col2{
			text-align: right;
		}
	}
	.my_data .main-form{
		margin-top: 0;
	}
	.my_watchlist{
		.product_price{
			padding-top: 0px;
			padding-bottom: 15px;
		}
		
	}
}