@import "_inc/_all_inc";

						/* Left nav  styles */
.my_orders {
	.section_title{
		font-size: 22px;
		line-height: 1.3;
		letter-spacing: 1px;
	}
}
						/*END Left nav  styles */
						/*Section  My orders styles */

/*Styles for collapse my orders */
.my_orders {
	.accordion_columls>span{
		padding-right: 5px;
	}
}
.a_collapse{
	border-top: 1px solid $grey-lines;
	display: block;
	padding: 27px 0 7px 0;
	transition: padding .2s ease-out;
	color: inherit !important;
	text-decoration: none !important;
	&:hover{
		color: inherit !important;
		text-decoration: none !important;
	}
	&.collapsed{
		padding-top: 14px;
		transition: padding .2s ease-out;
		.accord_arrow{
			transform: rotate(0deg);
			transition: transform .2s ease-out;
		}
	}
}
.orders .panel:last-child .a_collapse{
	border-bottom: 1px solid $grey-lines;
}
.amount{
    letter-spacing: 1px;
}
.accordion_columls{
	display: flex;
}
.title_colums{
	font-size: 14px;
	padding-top: 13px;
	padding-bottom: 12px;
}
.accordion_columls>*{
	flex: 0 0 23%;
}
.accord_arrow{
	transform: rotate(-90deg);
	border-radius: 50%;
	border: 1px solid $blue;
	width: 28px;
	height: 28px;
	display: inline-block;
	flex: none;
	position: relative;
	transition: transform .2s ease-out;
	margin-top: -2px;
	.arrow{
		position: absolute;
		top: 4px;
		right: 18px;
	}
}
/*END styles for collapse my orders */
/*styles for content part collapse my orders */
.order{
    display: flex;
    padding-top: 17px;
	font-size: 14px;
	align-items: flex-start;
}
.payment_info{
	flex: 1 1 auto;
}
.p_info_row{
	display: flex;
}
.p_info_col{
	flex: 0 0 50%;
	margin-bottom: 28px;
	p{
		margin-bottom: 0;
		line-height: 1.1;
		padding-top: 2px;
	}
}
.pay_total_desktop{
	flex: 0 1 270px;
}
.goods{
	 .subtitle{
		padding-bottom: 1px;
		padding-top: 19px;
	}
}
/*END styles for content part collapse my orders */
						/*END Section my orders styles */
@include media-breakpoint-down(md) {
	.my_orders{
		margin-top: 11px;
	}
	.subtitle{
		font-size: 14px;
	}
}
@include media-breakpoint-down(sm) {
	.p_info_col{
		flex:0 0 100%;
	}
	.accordion_columls{
		flex-wrap: wrap;
		align-items: center;
	}
	.accordion_columls>* {
		flex: 0 0 50%;
	}
	.accord_arrow{
		margin-left: auto;
		margin-right: 3px;
		margin-top: -42px;
		flex: 0 0 28px !important;
	}
	.collapsed .accord_arrow{
		transform: rotate(90deg);
	}
	.a_collapse{
		padding-top: 17px;
		padding-bottom: 9px;
	}
	.a_collapse.collapsed{
		padding-top: 17px;
	}
	.my_orders .section_title{
		font-size: 16px;
		line-height: 1.3;
		font-weight: 900;
	}
	.orders{
		font-size: 14px;
	}
	.order{
		padding-top: 0px;
	}
}
@include media-breakpoint-down(xs) {
	.accordion_columls>{
		*:nth-child(2n){
			flex: 0 0 55%;
		}
		*:nth-child(2n+1){
			flex: 0 0 30%;
		}
		.accord_arrow{
			margin-top: -22px;
		}
	}
	.p_info_row{
		flex-wrap: wrap;
	}
	.p_info_col{
		flex: 0 0 100%;
		margin-bottom: 13px;
	}
}
