@import "_inc/_all_inc";
.result_search_crams{
	font-size: 14px;
}
.landing_block{
	min-height: 380px;
	background-color: #959595;
	position: relative;
	margin-left:-15px;
	margin-right: -15px;
}
.landing_title{
	max-width: 585px;
	padding: 13px;
	width: 50%;
	min-height: 60px;
	background-color: $white;	
	position: absolute;
	bottom: 24px;
	left: 0;
	font-size: 24px;
}
.title_category{
	font-size: 24px;
}
.next_result_wrap .link_help.help_hover{
	&:hover{
		color:$second_but_hover;
	}
	&:focus{
		color:$second_but_focus;
	}
}
.filter_cont{
	margin-top: 37px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: space-between;
}
.filter_but{
	cursor:pointer;
	border-radius: 15px;
	border:none;
	background-color: transparent;
	color:$blue;
    padding: 3px 16px;
	transition:0.4s;
	&:focus{
		outline: none;
	}
}
.your_serch{
	font-size: 24px;
	margin-bottom: 30px;
}
.search_text{
	font-size: 16px;
	margin-bottom: 25px;
}
.procuct_quantity{
	margin-right: 22px;
}
.FiltestFull{
	.procuct_quantity {
		display: block!important;
	}
}
.filter_but.active{
	color:$black;
	background-color:rgba($blue,0.5);
}
.view_change_cont{
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	.grid_view{
		margin-right: 6px;
		max-height: 32px;
	}
	.table_view{
		max-height:31px;
	}
	.icon_view_gred{
		cursor: pointer;
		width:32px;
		height:32px;
	}
	.icon_view_table{
		cursor: pointer;
		margin-bottom: 1px;
		width:30px;
		height:30px;
	}
	.view_change{
		display: inline-block;
	}
}
.pop_page{
	// padding-bottom: 55px;
	margin-bottom: 100px;
	@include media-breakpoint-down(sm) {
		margin-bottom: 55px;
	}
	.filter_row{
	    margin: 0;
	}
	.related_sect{
		padding-top: 0;
	}
}
.but_style{
	padding: 10px 21px;
	font-size: 14px;
}
.filter_wrap{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 28px;
}
.filters{
	margin-top: 27px;
}
.product_related{
	padding-bottom: 29px;
    padding-top: 18px;
    &:hover{
    	.hover_product{
			position: absolute;
			top:0;
			left:0;
			bottom: 0;
			right: 0;
			z-index:0;
		}
    }
    .sale_cont{
		.like_wraper{
			z-index: 1;
		}
	}
}

.help_icon,.alert_icon{
	height:30px;
	width:30px;
	margin-right: 8px;
}
.next_result_wrap{
	text-align: center;
	.next_result {
	    padding: 10px 54px;
	}
	.link_help{
	    justify-content: flex-end;
	    display: flex;
	   	color:$blue;
        margin-top: 47px;
    	font-size: 14px;
    	padding-bottom: 15px;
	}
	.alert_icon{
	    height: 32px;
    	width: 34px;
    	margin-right: 8px;
	}
}
.change_greed {
	.product_related{
		padding-top: 0;
		margin-bottom: 20px;
	}
	.image_related{
		padding: 0;
		min-height: 370px;
	}
	.related_sect{
		margin-top: 83px;
	}
}

.all_filters_wrap{
    max-height: 145px;
}
.all_filters{
	position:relative;
	margin-top: 38px;
	padding-top: 21px;
	border: 2px solid transparent;
	.another_filtel{
		display:none;
	}
	.close_all{
		display: none;
	}
	.search_but{
		display: none;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		background:$blue;
		background-color:$blue;
		width: 100%;
		border-radius:0;
	}
	.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	    background:$blue;
		background-color:$blue;
	}
	.mCSB_scrollTools{
		opacity: 1;
		background: $grey-lines;
	    width: 10px;
	    right: 17px;
	    bottom: 0;
	}
	.mCSB_scrollTools .mCSB_draggerRail{
		background:transparent;
	}
	&.active{
		margin: 29px -15px 0;
	    padding: 29px 13px;
		border-color:$black;
		background: $white;
		z-index: 5;
		.but_filters{
			border:none;
			padding: 10px 0;
		}
		.select-styled{
			border-bottom: none;
			&:after,&:before{
				content:none;
			}
		}
		.close_all{
			display:inline-block;
			border:1px solid $blue;
			vertical-align: middle;
			margin-left: 21px;
			&:before{
				background:$blue;
			}
			&:after{
				background:$blue;
			}
		}
		.another_filtel{
			display:block;
		}
		.select-options{
			display: block!important;
		}
		.search_but{
		    display: block;
		    margin: 13px auto;
		    min-width: 272px;
		}
		.filters{
			min-height:338px;
			margin-top: 11px;
		}
	}
}
.mCustomScrollBox .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCustomScrollBox .mCSB_scrollTools .mCSB_dragger:focus .mCSB_dragger_bar {
    background-color: $blue!important;
}
.list_view{
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding-top: 2px;
    .list_line{
		width: 100%;
		height: 3px;
		border:1px solid $active_grid;
	    display: block;
	    margin-bottom: 3px;
    }
}
.smal_view{
	font-size: 0;
	width: 35px;
	height: 30px;
	margin-right: 7px;
	.viev_block{
		display: inline-block;
		width: 8px;
		height:7px;
		border:1px solid $active_grid;
		margin: 0 3px 3px 0;
	}	
}
.big_view{
	font-size: 0;
	width: 37px;
	height: 30px;
	.viev_block{
		display: inline-block;
		width: 14px;
		height:13px;
		border:1px solid $active_grid;
		margin: 0 3px 3px 0;
	}	
}
.view_change.active{
	.list_line,.viev_block,.viev_block{
		border-color: $blue;
	}
}
.sale_text{
	display: none;
}
.col_view{
	.old_price {
		padding-left: 0;
	}
}
.pop_page{
	.related_sect{
	    padding: 15px 0 0;
	}	
}

.sale_pers{
	color: $orange;
	display: none;
	font-size: 25px;
	margin-bottom: 0;
    position: relative;
}
.smalView, .bigView{
	&.related_list {
		padding-bottom: 73px;
	}
}
.listView {
	&.related_list {
		padding-bottom: 73px;
	}
	.col_view{
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		display: flex;
	    padding: 17px  0 11px 0;
	    border-bottom: 1px solid $grey-lines;
	    margin-bottom: 4px;
	    &:first-child{
	    	border-top: none;	
	    }
		.sale_pers{
			display: inline-block;
		}
		.sale_text{
			display: inline-block;
		}
		.image_related{
			flex:0 0 203px;
		    padding: 0 20px 0 15px;
			img {
		 	   max-height: 100%;
			}
		}
		.sale_cont{
			order:4;
			flex: 0 1 195px;
		}
		.wrap_info{
			flex: 1 1 65%;
		}
		.ContReposButtons{
		    width: 80%;
		    max-width: 240px;
		    display: inline-flex;			
			.title_related {
			    width: 100%;
			    max-width: none;
			    display: flex;
			}
		}
		.title_related {
		    width: 80%;
		    max-width: 240px;
		    display: inline-flex;
		}
		.cont_to_bott {
			align-items:center;
	    	height: auto;    	
	    	margin-top: 10px;
	    	justify-content:space-between;
	    	padding-right: 25px;
	    	max-width: 450px;
	    }
		.old_price{
		    font-size: 26px;
		    margin-bottom: 0;
			order:2;
		}
		.sale_lable {
		    padding: 6px 28px 8px 13px;
		    height: 38px;
		    margin-top: 16px;
	    	width: 100%;
	    	&:before{
			    border-width: 0 0 25px 13px;
	    		left: -10px;   
	    	}
	    	&:after{
	    		left: -10px;   
	    		border-width: 0 13px 25px 0;
	    	}
	    }
	    .like_wraper {
		    position: absolute;
		    bottom: 11px;
		    right: 25px;
		    @include media-breakpoint-down(sm) {
				bottom: 0;
		    }
		}
		.anoth_related {
		    display: inline-block;
		}
		.rating{
			display: inline-block;
			padding-left: 13px;
		}
		.text_related {   
		    max-width: 550px;
	        margin-bottom: 12px;
		}
		.info_cont {
		    height: 128px;
		}
	}
}
.text_related.smOverflowDesc { 
    max-height: 6em;
}

.smalView .col_view{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 16.66667%;
	-ms-flex: 0 0 16.66667%;
	flex: 0 0 16.66667%;
	max-width: 16.66667%;
	.info_cont {
	    height: 160px;
	    padding-top: 8px;
	}
	.old_price{
 		margin-bottom: 2px;	
	}
	.cont_to_bott {
		height: 85px;
	}
}
.bigView {
    padding-top: 14px;
	.col_view{
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.33333%;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	    padding-bottom: 20px;
   		padding-top: 0px;
		.sale_lable{
		    width: 51%;
		    min-width: 85px;
		    font-size: 15px;
		    padding: 0px 13px 0 0px;
		    display: flex;
		    align-items: center;
		    justify-content: center;	
		}
		.sale_text{
			display: inline-block;
		}
		.image_related {
		    padding: 0;
		    min-height: 370px;
		    margin-bottom: 3px;
		}
		.text_related {
		    line-height: 1.14em;
		    margin-top: 26px;
		}
		.info_cont {
		    height: 130px;
		}
		.title_related {
		    width: 69%;
		    display: inline-flex;
		}
		.cont_to_bott {
			align-items:center;
	    	height: auto;    	
	    	margin-top: 10px;
	    	justify-content:space-between;
	    	padding-right: 25px;
	    }
		.old_price{
		    font-size: 26px;
		    margin-bottom: 0;
			order:2;
		}
	}
}

@include media-breakpoint-down(md) {
	.landing_block{
		margin:0 -10px;
	}
	.like_wraper {
	    max-height: 22px;
	}
	.landing_title {
		width: 100%;
		bottom:0;
		right: 0;
		margin-bottom: 1px;
	}
	.change_greed .image_related{
		margin-bottom: 0;
	    min-height: 290px;
	}
	.all_filters_wrap{
		display: none;
	}
	.all_filters{
		.mCSB_inside > .mCSB_container {
	    margin-right: 9px;
		}
		.mCSB_scrollTools {
		    width: 7px;
		    right: 2px;
		}
	}
	.custom_modal.filter_modal .modal-body{	
		padding-top: 15px;
	}
	.filter_row{
		display: block;
		.title_filter {
		    font-size: 18px;
		    vertical-align: middle;
		    padding-right: 14px;
		}
		.filter{
			font-size: 18px;
			padding:6px 0;
			vertical-align: middle;
			&:last-child{
				padding-left: 23px;
			}
		}
	}
	.filter_but{
		font-size: 18px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		color:$black;
		padding: 0 0 13px 0;
		.check_mobile{
			width: 20px;
			height: 20px;
			border: 1px solid $black;
			border-radius: 50%;
			position:relative;
			margin-right: 30px;
		}
		&.active{
			background:transparent;
			.check_mobile{
				&:before{
					content:"";
					border-radius: 50%;	
					position: absolute;
					margin:auto;
					top:0;
					right: 0;
					bottom:0;
					left: 0;
					width: 10px;
					height: 10px;
					background:$blue;
				}
			}
		}
	}
	.hover_product{
		display: none;
	}
	.pop_page {
		.filters {
			margin-top: 16px;
		}
		.another_filtel{
			.filters{
				margin-top: 0;
			}
		}
		.pager {
		    margin-bottom: 0px;
		    margin-top: 12px;
		    padding-left: 3px;
		}
		.arrow_kaskad {
		    padding-left: 1px;
		    padding-right: 1px;
		}	
		.title_category{
		    margin-top: 8px;
		    margin-left: 4px;
		}
		.filter_cont {
		    margin-top: 13px;
		}
		.procuct_quantity {
			font-size: 14px;
   			padding-left:5px;
		}
		.view_change_cont {
			justify-content: space-between;
			width: 100%;
			.grid_view {
	   			margin-right: 9px;
	   		}
	   		.table_view {
	   			margin-right: 5px;
	   		}
	   	}
   		.mobile_filters {
   			margin-top: 19px;
   			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
   		}
   		.but_modals{
   			width: 50%;
		    margin: 0 6px;
   		}
   		.related_sect {
		    margin-top: 23px;
		}
	}
	.smalView,.bigView{
		.col_view {
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 50%;
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			margin-left: 0;
			margin-right: 0;
			flex-wrap:wrap;
			.image_related {
			    min-height: 175px;
			    width: 100%;
			    flex:100%;
			    margin-bottom: 0;
			}
			.sale_cont {
    			min-height: 33px;
				width: 100%;
				flex:100%;
			}
			.info_cont{
				width: 100%;
				flex:100%;
			    height: 150px;
			    padding-left: 0;
			}
			.text_related {
			    margin-top: 10px
			}
			.title_related {
				width: 100%;
				max-width: none;
				flex:100%;
				margin: 0;
			}
			.cont_to_bott{
				padding: 0;
			}
		}
		.wrap_info{
			flex: 100%;
		}
	}
	.bigView {
	    padding-top: 14px;
		.col_view{
			-webkit-flex: 0 0 100%;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		    padding-bottom: 20px;
	   		.info_cont {
	   			height: auto;
	   		}
	   	}
   	}
   	.listView {
   		padding-top: 14px;
   		.col_view {
		    margin-bottom: 0;
   			.title_related{
   				width: 100%;
   				max-width: none;
   				margin: 0;
   			}
   			.info_cont{
   				height: auto;
   			}
   			.sale_cont{
    			// min-height: 33px;
   				flex: 0 1 115px;
   				min-height: 135px;
   				height: 100%;
   				align-self:flex-start;
   				padding: 15px 0 20px;
   				@include media-breakpoint-only(md){
					justify-content: flex-end;
   				}
   			}
   			.text_related {
   				margin-top: 0;
   			}
   			.sale_text{
   				display: none;
   			}
    		.sale_lable{
		        width: 44%;
			    margin-top: 0;
			    min-width: 50px;
			    font-size: 15px;
			    height: 31px;
			    padding: 0px 1px 0 0px;
			}
   		}

   	}
}
@include media-breakpoint-up(md) {
	.listView {
		.tobutReposBack {
			display: none;
		}
	}
	.next_result_wrap{
		padding-top: 20px;
	}
}

@include media-breakpoint-down(sm) {
	.listView{
		.col_view {
			padding:0 10px;
			flex:100%;
			flex-wrap:wrap;
			.image_related {
			    min-height: 175px;
			    width: 100%;
		        padding: 0;
			    flex:50%;
			}
			.sale_cont{
				width: 100%;
				flex:0 0 100%;
				height: auto;
				order:initial;
				min-height: 33px;
			    order: 3;
			}
			.sale_text{
				display: none;
			}
			.sale_pers{
				display: none;
			}
			.info_cont{
				width: 100%;
				flex:100%;
			    height: auto;
			    padding-left: 0;
			    order:2;
			}
			.text_related {
			    margin-top: 10px
			}
			.title_related {
				width: 100%;
				max-width: none;
				flex:100%;
				margin: 0;
			}
			.cont_to_bott{
				padding: 0;
				margin-right: 0;
			    max-width: none;
			}
			.wrap_info{
				flex-wrap:wrap;
				display: flex;
				flex: 0 0 50%;
			}
			.rating{
				padding-left: 0;
			}
			.old_price{
				order: 0;
				font-size: 24px;
			}
			.like_wraper{
    			right: auto;
    			position: relative;
			    margin-right: 7%;
			    width: 30%;
			    flex: 0 0 30%;
			    border-radius: 3px;
			    max-width: none;
			    height: auto;
			    text-align: center;
			    max-height: none;
			    display: flex;
			    align-items:center;
			    justify-content:center;
			    border: 2px solid #0caee4;
			}    
			.toContReposButtons{
				flex: 0 0 63%;
			}	
		}
		.wrap_info{
			flex: 100%;
		}
	}
	.product_related{	
	    margin: 0 ;
	    padding: 0 10px;
        align-content: flex-start;
		.image_related{
			text-align: center;
		}
		.image_related{
			margin-bottom: 0;
		    flex: 0 1 48%;
		}
		.info_cont{
		    padding-left: 14px;
		    flex: 0 1 52%;
		}
		.title_related{
		 	margin-bottom: 7px;
		}
	}
	.smalView,.bigView,.listView{	
		.sale_lable {
		    font-size: 13px;
		    padding:0px 10px 0 10px;
		}
		.info_cont{
			padding-left: 0;
		    height: 150px;
		}
		.image_related{
			flex:100%;	
			 img {
			 	width: auto;
			    max-width: 100%;
			    max-height: 100%;
			}
		}	
		.icon_like {
			width: 26px;
			height: 29px;
		}
	}
}