@import "_inc/_all_inc";

.text_pages{
	.description {
		padding-top: 28px;
			@include media-breakpoint-down(sm){
				padding: 12px 0 12px;
			}
		margin-bottom: 0;
	}
	.payment_info{
		margin: 35px 0 54px;
			@include media-breakpoint-down(sm){
				margin: 19px 0 54px;
			}
			&:last-child{
				margin: 35px 0 0;
				@include media-breakpoint-down(sm){
					margin: 19px 0 0;
				}
			}
	}
	.payment-title{
		margin-bottom: 38px;
	}
	.img-fluid{
		@include media-breakpoint-down(sm){
			flex: 0 0 75%;
		}
	}
	.p_img{
		padding-right: 10px;
		@include media-breakpoint-down(sm){
			padding-bottom: 18px;
		}
	}
}
.pager{
	margin-bottom: 10px;
	a{
		color: #000;
		font-size: 14px;
	}
}
.help_wrap{
	.orders {
		.arrow{
			right: 17px;
			&:after, &:before{
				height: 1px;
				width: 10px;
			}	
			&:before{
				top: 6px;
			}	
		}	
	}
}

.help_pages{
	.a_collapse {
		padding: 10px 0;
		@include media-breakpoint-down(sm){
			padding: 13px 0;
		}
	}
	.accordionOrders{
		margin-bottom: 54px;
		@include media-breakpoint-down(sm){
			margin: 0; 
		}
	}
	.accordion_columls > *:nth-child(2n+1) {
	    flex: 0 0 92%;
		@include media-breakpoint-down(sm){
			flex: 0 0 75%;
			word-spacing: 2px;
			font-size: 15px;
		}
	}
	.accord_arrow{
		margin-top: 0px;
		@include media-breakpoint-down(sm){
			margin-right: 10px;
		}
	}
	.payment-title{
		font-size: 18px;
		margin: 47px 0 25px 0;
	}
	.faq_text{
		width: 64%;
		padding-bottom: 10px;
		text-align: justify;
		word-spacing: -1px;
		letter-spacing: -0.1px;
		p{
			margin: 0; 
		}
		@include media-breakpoint-down(sm){
			width: 95%;
			font-size: 16px;
			padding: 5px 0 0;
		}
	}
	.first_payment-title{
		@include media-breakpoint-down(sm){
			padding-top: 50px;
		}
	}
	.contact_Us{
		max-width: 65%;
		margin: 49px 0 0;
		@include media-breakpoint-down(sm){
			display: flex;
			flex-direction: column;
			max-width: 95%;
		}
	}
	.contact-link{
		text-decoration: underline;
		@include media-breakpoint-down(sm){
			width: 100%;
		}
	}
	.sm_overflow {
		overflow: visible;
	}

}
.last_form{
	margin-bottom: 0;
		@include media-breakpoint-down(sm){
			margin-bottom: 17px;
		}
}
.modal_title{
	@include media-breakpoint-down(sm){
		max-width: 75%;
	}
}

.title_seller{
	margin-bottom: 15px;
}
.text_dect_compa{
	padding-bottom: 20px;
	border-bottom: 1px solid $grey-lines;
}
.company_wrap{
	margin-top: 20px;
	padding: 10px;
	background:$white;
}
.line_text{
	padding-bottom: 5px;
}
.list_seller{
	.list_text{
		padding-left: 5px;
	}
}
.return_cont{
	padding: 30px 0 10px;
}
.line_return{
	margin: 0;
	padding: 0;
}
.no_one_desc{
	padding-top: 0;
}
.order_seller .panel:last-child .a_collapse{
	border-bottom:none;
}