.count_box{
	width: 170px;
	height: 45px;
	font-size: 10px;
	border-radius: 3px;
	border: 2px solid $blue;
	background-color: $white;
	@include flex_h_align($h_align: space-between);
	.count{
		font-size: 18px;
		border-right: 2px solid $blue;
		flex: 1 0 auto;
		text-align: center;
		padding-top: 10px;
		line-height: 1.2;
	}
	.minus{
		border-right: 2px solid $blue;
	}
	.plus{
		&:before{
			content: '';
			display: block;
			background: $blue;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
		&:before{
			height: 1.4em;
			width: 0.2em;
		}
	}
	.plus,
	.minus{
		cursor: pointer;
		position: relative;
		min-width: 40px;
		flex: 0 0 48px;
		&:after{
			content: '';
			display: block;
			background: $blue;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 1.4em;
			height: 0.2em;
		}
	}
}
.count_box.black_count{
	border-color:$bazalt;
	.plus{
		&:before{
			background:$bazalt;
		}
		&:after{
			background:$bazalt;
		}
	}
	.count{
		border-color:$bazalt;
	}
	.minus{
	    border-right: 2px solid $bazalt;
		&:after{
			background:$bazalt;
		}
	}
}