.select-hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  position:absolute;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  width: 100%;
  min-height: 46px;
  border: 1px solid $grey-lines;
	  border-bottom: none;
}
.select-styled {
  text-transform: uppercase;
  color:$blue;
  border-bottom: 1px solid $grey-lines;
  padding: 12px 8px;
  &.activait{
  	border-bottom-color:transparent;
  }
	&:before {
	    position: absolute;
	    top: 48%;
	    right: 16px;
	    display: block;
	    content: "";
	    height: 0.1em;
	    width: 0.8em;
	    background-color: $blue;
	    transition:0.3s;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	}&:after {
	    position: absolute;
	    top: 48%;
	    right: 8px;
	    display: block;
	    content: "";
	    height: 0.1em;
	    width: 0.8em;
	    background-color: $blue;
	    transition:0.3s;
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	&.activait{
		&:before {
			transform: rotate(-45deg);
		}&:after {
			transform: rotate(45deg);
		}
	}
}	  
.select-options {
  background:$white;
  border: 1px solid $grey-lines;
  padding:6px 0 30px 0;
  list-style: none;
  border-top: none;
  li {
    margin: 0;
    padding: 8px 0;
    text-indent: 15px;
    .select-check{
    	position:relative;
    	display: inline-block;
    	width: 20px;
		height: 20px;
		border: 1px solid $black;
	    vertical-align: middle;
	    margin-left: 4px;
	    margin-right: 22px;
	    &:after{
			content:"";
			position:absolute;
			display: inline-block;
		}
	}	
	&.active{
		font-family: 'GTWalsheimBold', sans-serif;
		.select-check{
			&:after{
				margin: auto;
				width: 10px;
				height: 10px;
				background: $blue;
				top:0;
				left: 0;
				bottom: 0;
				right: 0;
			}
	    }
	    .icon_checkbox {
		    fill: #0caee4;
		}
    } 
    &[rel="hide"] {
      display: none;
    }
  }
}
.select_style {
	min-width: auto;
	.product_select{
		padding: 10px;
	}
}

@include media-breakpoint-up(md) {
	.select-styled {
	  position: absolute; 
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	}
	.select-options {
	  max-height: 265px;
	  overflow: hidden;
	  border-top:none;
	  display: none; 
	  position: absolute;
	  top: 100%;
	  right: -1px;
	  left: -1px;
	  z-index: 5;
	  margin: 0;
	  padding-bottom: 0;
	}
}

@include media-breakpoint-down(md) {
	.select-styled{
		border-bottom: none;
	}
	.select-options li{
		text-indent: 10px;
		font-size: 15px;
		.select-check{
			margin: 0 4px 0 0;
		}
	} 
	.select{
		border-right:none;
		border-left:none;
	    border-bottom: none;
	}
	.select-styled{
	    padding: 23px 2px 19px;
		font-size: 18px;
		position:relative;
		&:after {
		    top: 49%;
		    width: 1em;
		}
		&:before {
		    position: absolute;
		    top: 49%;
		    width: 1em;
		    right: 20px;
		}
	}
	.select-options{
		max-height: none;
	    position: initial;
	    padding-top: 0;
	    font-size: 18px;
	    border:none;
	    margin-bottom: 0;
	    padding-bottom: 0;
	}
	.select-options li {
	    margin: 0;
	    padding: 2px 0 11px 0px;
	    text-indent: 0;
	    .select-check{
	    	margin: 0 21px 0 2px;
	    }
	}
}