.footer_row{
	margin:0 0 20px 0;
}
.no_marg{
	margin-left: 0;
	margin-right: 0;
}

.footer{
	.country_list {
		margin: 0;
	}
	a{
		color: $white;
		text-decoration: none;
		font-weight: 400;
			&:hover{
				text-decoration: underline;
				svg{
					fill:$grey;
				}
				.arrow:before,
				.arrow:after {
					background:$grey ;
				}
			}
			&:focus{
				color:$second_but_focus;
			}
	}
	.custom_list{
		a{
			fill: #fff;
			&:hover .twit_bord{
				border-color: $grey;
			}
		}
	}
	.cor_two_f{
		padding-left: 15px;
	}
	.cor_three_f{
		padding-left: 45px;
	}
	.cor_for_f{
		padding-left: 60px;
	}
	.no_pr{
		padding-right: 0;
	}
	.arrow:after, .arrow:before{
		height: 0.1em;
		width: 0.7em;
	}
	.arrow:before {
		top: 0.7em;
	}
	.arrow{
		margin-left: 5px;
	    margin-bottom: 10px;
	}
	ul li{
		padding: 0 0 6px 0;
	}
	.shop_app{
		padding: 0 0 20px 0;
			@include media-breakpoint-down(sm){
				padding: 0 15px 0 0;
			}
	}
	.affiliates{
		padding: 5px 15px;
		margin: 0px auto;
		font-size: 14px;
	}
	.row-list{
		margin: 0 0 25px 0px;
			@include media-breakpoint-down(sm){
				margin: 5px 0 0px;
			}
	}
	.custom_list a .arrow {
		margin-top: 0;
	}
}
.orange-z{
	padding: 25px 0px 5px 0px;
}
.cols_foot{
	padding-right: 0;
}
.country_list{
	max-width: 100%;
	overflow-x: auto;
	ul{
		display: flex;
		padding-left: 13px;
			@include media-breakpoint-down(sm){
				margin: 10px 0 0; 
			}
		li{
			padding-right: 10px;
			a{
				white-space:nowrap;
			}
		}
	}
}
@include media-breakpoint-up(lg) {
	.country_list{
		.swiper-wrapper{
			display: flex;
			height: auto;
			transition-property: none;
			transform:none!important;
		}
		.swiper-slide{
			width: auto;
		}
		.swiper_btn_next,
		.swiper_btn_prev{
			display: none;
		}
	}
}


.twit_bord{ 
    position: relative;
    width: 30px;
    max-height: 30px;
    max-height: 30px;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 4px;
    margin-left: 3px;
}
.social-list{
	display: flex;
	a{
		padding: 0 21px 0 0;
	}
}
.f_link{
	padding-right: 5px; 
}
.stores{
	display: flex;
	flex-direction: column;
	@include media-breakpoint-down(sm){
		flex-direction: row;
		// justify-content: space-between;
	}
}
.list_icon{
	display: flex;
	justify-content: space-between;
	@include media-breakpoint-down(sm){
		justify-content: flex-start;
	}
}
.custom_list .icon-message {
	max-width: 20px;
	max-height: 20px;
}
.foot-list{
	@include media-breakpoint-down(sm){
		margin-bottom: 8px;
 	}	
}
.Sign_in{
	@include media-breakpoint-down(sm){
		max-width: 253px;
 	}
}
.shopDrop{
	@include media-breakpoint-up(sm){
		display: none;
 	}
 }
@include media-breakpoint-down(md) {
	.footer{
		.cor_two_f{
			padding-left: 0;
		}
		.cor_three_f{
			padding-left: 0;
		}
		.cor_for_f{
			padding-left: 0;
		}
		.no_pr{
			padding:0 15px;
		}
		.swiper-container {
	        width: 100%;
	    }
	    .swiper-slide {
	        width: auto;
	        display: -webkit-box;
	        display: -ms-flexbox;
	        display: -webkit-flex;
	        display: flex;
	        -webkit-box-pack: center;
	        -ms-flex-pack: center;
	        -webkit-justify-content: center;
	        justify-content: center;
	        -webkit-box-align: center;
	        -ms-flex-align: center;
	        -webkit-align-items: center;
	        align-items: center;
	    }
	}
	.country_wrap{
    	overflow: hidden;
	}
	.country_list {	
	    max-width: 100%;
	    overflow-x: auto;
	    overflow-y: hidden;
		.shopDrop{
			padding: 10px;
		}
		ul {
			margin: 0;
			padding: 10px;
			li {

			}
		}
	}
}