.form-bg{
	display: block;
	width: 100%;
	padding: 1rem 0.75rem;
	font-size: 1rem;
	font-size: 18px;
	letter-spacing: 0;
	color: #404040;
	border: 1px solid $grey;
}
.type_form{
	font-size: 14px;
}
.captcha_form .form-bg{
	height: 120px;
}
.error{
	position: relative;
}
.error{
	input{
		border: 1px solid  $red;
	} 
	.messages{
		color: $red;
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 12px;
	}
}
.form-group{
	margin-bottom: 22px;
	&.captcha_form{
		padding-top: 9px;
		padding-bottom: 6px;	
	}
}
.main-form{
	margin-top: -5px;
	::-webkit-input-placeholder{
		font-size: 18px;
	} 
	::-moz-placeholder{
		font-size: 18px;
	}
	:-ms-input-placeholder{
		font-size: 18px;
	}
	:-moz-placeholder {
		font-size: 18px;
	}
}
.checkbx_text{
	font-size: 18px;
}
.message_area{
    margin-bottom: 33px;
	min-height: 300px;
}
.text_questions{
	font-size: 14px;
    margin-top: 26px;
    line-height: 1.2em;
}
.icon_checkbox{
	width: 20px;
	height: 20px;
	border: 1px solid $black;
	fill: transparent;
	margin-left: -5px;
	margin-right: 15px;
	vertical-align: middle;
}
.wrapp_check{
	width: 100%;
	.custom_check{
		opacity: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		&:checked+.icon_checkbox{
			fill: $blue;
		}
	}
}
.message_form{
	min-height: 300px;
}

// validation
.form_reqv{
	position: relative;
	.error_text{
	    position: absolute;
	    left: 0;
	    bottom: -23px;
	    color: #ff0033;
	    font-size: 14px;
	    font-family: "GTWalsheimBold";
	}
}

.error, input.error{
	border-radius: 0;
	outline:1px solid $eror;
	border-color: $eror;
}
input{
	box-shadow: inset 0 100px 10px rgb(255, 255, 255);
	&:focus{
		border-radius: 0;
		border-color:$blue;
		outline:1px solid $blue;
	}
}

//end validation