
input{
	-webkit-appearance: none;
}
.modal-open{
	//position: fixed;
	width: 100%;
}
body {
	min-width: 320px;
	font-family: 'GT-Walsheim-Regular', sans-serif;
	font-weight: 500;
	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: column;
	 	min-height: 100vh;
	}
}
button, input, optgroup, select, textarea {
	font-family: 'GT-Walsheim-Regular', sans-serif;
}
.wrapper{
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
}
.container-fluid{
	width: 100%;
}
.main_p_top{
	padding-top: 50px;
	margin-bottom: 100px;
	@include media-breakpoint-up(md) {
		flex: 1; 
	}
	@include media-breakpoint-down(md) {
		padding-top: 27px;
	}
	@include media-breakpoint-down(sm) {
		margin-bottom: 55px;
	}
}
.section_title{
	font-size: 24px;
	@include media-breakpoint-down(sm) {
		font-size: 18px
	}
}
.subtitle{
	font-weight: 400;
	font-size: 16px;
	padding: 16px 0 11px;
	margin: 0;
	@include media-breakpoint-down(sm) {
		font-size: 14px;
	}
}
.btn{
	&.focus, &:focus{
		box-shadow: none;
	}
}
.italic{
	font-style: italic;
}
.font_bold{
	font-family: 'GTWalsheimBold', sans-serif;
}
.regular{
	font-weight: 400;
}
.btn_orange{
	background-color: $orange;
	color: $white;
	border: 2px solid $orange;
	&:hover{
		color: $white;
		background-color: #bf4d26;
		border: 2px solid #bf4d26;
		text-decoration: none;
	}
	&:focus{
		color: $white;
		background-color: #8c381c;
		border: 2px solid #8c381c;
	}
}
.btn_white{
	background-color: $white;
	color: $blue;
	border: 2px solid $blue;
	&:hover{
		color: #448ccb;
		border: 2px solid #448ccb;
	}
	&:focus{
		color: #005b7f;
		border: 2px solid #005b7f;
		text-decoration: none;
	}
}
.btn_white2{
	background-color: $white;
	color: $orange;
	border: 2px solid $white;
	&:hover{
		color: $orange;
	}
}
[class^="btn_"]{
	@include flex_h_v_align($h_align:center, $v_align: center);
	text-transform: uppercase;
	font-family: 'GTWalsheimBold', sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	border-radius: 3px;
	height: 60px;
	width: 100%;
	// position: relative;
	@include media-breakpoint-down(xs) {
		height: 45px;
	}
	&.btn_small{
		height: 45px;
		flex: 0 0 170px;
		@include media-breakpoint-down(xs) {
			flex: 0 0 100%;
		}
	}
	&:hover{
		text-decoration: none;
		outline: none;
		transition: all .2s ease-out;
	}
	&:focus{
		outline: none;
		text-decoration: none
	}
	.wrap_bt_text{
		// position: absolute;
		// height: 100%;
		width: 100%;
		@include flex_h_v_align($h_align:center, $v_align: center);
	}
}
.c_blue{
	color: $blue;
}
.c_black{
	color: $black;
}
.c_white{
	color: $white;
}
.c_orange{
	color: $orange;
}
.circle{
	border-radius: 50%;
	overflow: hidden;
}
.bg_blue{
	background-color: $blue;
	&:after, &:before{
		background-color: $blue;
	}
}
.bg_grey{
	background-color: $grey-top;
}
.bg_dark{
	background-color: $black;
	&:after, &:before{
		background-color: $black;
	}
}
.bg_white{
	background-color: $white;
		&:after, &:before{
		background-color: $white;
	}
}
.bg_orange{
	background-color: $orange;
	&:after, &:before{
		background-color: $orange;
	}
}
.orange_link{
	color: $orange;
	&:hover, &:focus{
		color: $orange;
	}
}
.blue_link{
	color: $blue;
	&:hover, &:focus{
		color: $blue;
	}
}
.white_link{
	color: $white;
	&:hover, &:focus{
		color: $white;
	}
}
.arrow{
	display: inline-block;
	position: relative;
	vertical-align: super;
	font-size: 10px;
}
.arrow{
	&:after, &:before{
		position: absolute;
		top: 0;
		display: block;
		content: "";
		height: 0.1em;
		width: 1.23em;
	}
}
.arrow:after{
	transform: rotate(-45deg);
	top: 1.2em;
}
.arrow:before{
	transform: rotate(45deg);
	top: 0.4em; 
}
.down{
	transform: rotate(90deg);
}
.left{
	transform: rotate(180deg);
}
.price{
	letter-spacing: 1px;
}
[class*="_circle"]{
	border-radius: 50%;
	width: 28px;
	height: 28px;
	display: inline-block;
	font-size: 16px;
	flex: none;
	position: relative;
	margin-top: -2px;
	&:before,
	&:after{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		display: block;
		content: "";
		height: 0.1em;
		width: 1em;
	}
	&.black{
		border: 1px solid $black;
		&:before,
		&:after{
			background-color: $black;
		}
	}
	&.blue{
		border: 1px solid $blue;
		&:before,
		&:after{
			background-color: $blue;
		}
	}
}
.cancel_circle{
	&:after{
		transform: rotate(-45deg);
	}
	&:before{
		transform: rotate(45deg);
	}
}
.plus_circle{
	&:after{
		transform: rotate(-90deg);
	}
	&:before,
	&:after{
		width: 0.5em;
	}
}
.remove{
	opacity: 0;
	transition: opacity .2s;
}
.description {
	padding-top: 14px;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 26px;
	padding-top: 30px;
	max-width: 570px;
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		line-height: 1.5;
		padding-top: 14px;
		margin-bottom: 18px;
	}
}
.strikethrough{
	position:relative;
		&:before{
		content:"";
		position:absolute;
		width:100%;
		height:2px;
		background:$orange;
		top: 50%;
		margin-top: -1px
	}
}
@include media-breakpoint-down(sm) {
	.sm_overflow{
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
.smOverflowDesc{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.arrow_kaskad{
    padding-left: 7px;
    padding-right: 10px;
}
.pager{ 
    margin-bottom: 27px;
    padding-left: 0;
	a{
		color: $black;
		font-size: 14px;
	}
}
.underline{
	text-decoration:underline;
}
.but_all{
	cursor:pointer;
	border-radius: 3px;
	border: 2px solid $blue;
	color: $blue;
	text-transform: uppercase;
	font-size: 14px;
	background: transparent;
	&:hover{
		border: 2px solid $second_but_hover;
		color: $second_but_hover;
		outline: none;
	}
	&:focus{
		border: 2px solid $second_but_focus;
		color: $second_but_focus;
		outline: none;
	}
}
.contain_flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
// .stroke_ico{
// 	fill:none;
// 	stroke:$color-text;
// }
// .list_account a:hover .stroke_ico,
// .list_account a.active .stroke_ico {
//     stroke:none;
// }

.goto_up {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #fff;
    width: 39px;
    height: 39px;
    opacity: .5;
    z-index: 100;
    border-radius: 50%;
    transition: .2s;
    text-align: center;
    display: none;
    background:$dark_grey;    
    align-items:center;
    justify-content:center;
   	.icon_arrow{
	    width: 30px;
	    height: 30px;
   		transform:rotate(-180deg);
   		fill:$white;
   	}
    &:hover{
    	opacity: 1;
    }
    &.onScroll{
    	display: flex;
    }
}

.mbCookie{
	margin-bottom: 60px;
}
.cookie_accept{
	background:$grey-top;
	padding:0 15px;
	overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
	&.removed{
		height: 0!important;
	}
	&.hide{
		display: none;
	}
	.cookie_wrap{
		max-width: 1170px;
		margin: auto;
		display: flex;
	    padding: 7px 0;
	   
	}
	.text_accept{
		margin-bottom: 0;
	}
	.link_acc{
		color: $color-text;
		text-decoration: underline;
	}
	.closeCookie{
		width: 15px;
		height: 15px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		margin-left: 7px;
		&:before,&:after{
			top: 7px;
			position: absolute;
			background: #000;
			content: '';
			width: 15px;
			height: 1px;
			transform:rotate(-45deg)
		}
		&:after{
			transform:rotate(45deg)
		}
	}
}
.all_removed{
	color:$grey;
	.cancel_circle {
		border-color:$grey;
		&:after,&:before{
			background-color:$grey;
		}
	}
}
.linck_black{
	font-size: 16px;
	color: $color-text;
	transition:0.2s;
	margin-bottom: 30px;
	outline: none;
	display: block;
	&:hover,&:focus{
	    color: $blue;
	}
}