.advantages{
	font-size: 11px;
	padding-left: 33px;
	letter-spacing: 0.1px;
}
.stroke_icon{
	stroke:$blue;
}
.dodax_mob{
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.links_top_header{
	padding: 6px 15px 3px 10px;
	font-size: 11px;
	flex-direction: row-reverse;
	display: flex;
	.list-inline-item{
		&:not(:last-child){
			margin-right: 0;
		}
		&:not(:first-child){
			margin-right: 1px;
		}
	}
	.list-inline-item>a,
	.bring_friend>a{
		padding: 7px 18px 7px;
		letter-spacing: -0.1px;
		color: #404040;
		&:hover,
		&:focus{
			color: $white;
			background-color: $orange;
			text-decoration: underline;
		} 
	}
}
.d-inline-block.icon-like{
	fill:none;
	stroke:$color-text;
}
.d-inline-block.icon-basket{
	fill:none;
	stroke:$color-text;
}
.d-inline-block.icon-basket.stroke_f{
	fill:$color-text;
	stroke:none;
}
.stroke_f{
	fill:$color-text;
}
.bring_friend{
	position: relative;
	z-index: 3;
	.icon_bring{
		float: left;
		margin: 9px 34px 10px 8px; 
		width: 44px;
		height: 44px;
		fill: $white;
	}
	a.hoverPreventDef{
		padding-bottom: 8px;
	}
	.text_bring{
		text-transform: none;
		font-size: 16px;
		color: #fff;
		line-height: 1.2;
		font-family: 'GT-Walsheim-Regular', sans-serif;
	}
	.wrapp_bring{
		text-align: left;
		position: absolute;
		z-index: 1;
		right: 0;
		top: 23px;
		left: auto;
		height: 0;
		overflow: hidden;
		background-color: $orange;
		width: 390px;
	}
	.btn_white2{
		margin-top: 8px;
		letter-spacing: .4px;
		&:hover{
			opacity: 0.9;
		}
	}
	&:hover>a{
		color: $white;
		background-color: $orange;
		text-decoration: underline;
	}
	&:hover .wrapp_bring{
		padding: 25px 20px 20px 20px;
		height: auto;
	}
}
.cont_lang{
	.icon_arrow{
		width: 11px;
		height: 11px;
		fill:$black;
		vertical-align: middle;
	    margin-top: -2px;
	}
}
.main_header{
    padding-top: 22px;
    padding-bottom: 28px;
	align-items: center;
	background-color: #fff;
}
.sticky_header{
	.main_header{
		position: fixed;
		top: 0;
		right: 15px;
		left: 15px;
		z-index: 9;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.main_p_top,
	.pdp_page,
	.buying_options,
	.pop_page{
		margin-top: 135px;
	}
}
.wrapp_logo{
	padding-left: 50px;
	margin-top: -3px;
}
.search{
	flex: 1 1 auto;
	display: flex;
	padding-left: 44px;
	padding-right: 25px;
}
.wrapp_search{
	position: relative;
	flex: 1 1 auto;
}
.icon_search{
	position: absolute;
	top: 21px;
	left: 17px;
	background-color: transparent;
	display: inline-block;
	border:  none !important;
	outline: none !important;
	color: transparent;
	padding: 0;
	cursor: pointer;
	-webkit-appearance: initial;
	svg{
		width: 19px;
		height: 20px;
	}
	&:hover svg{
		fill: $blue;
	}
}
.input_search{
	padding: 16px 10px 18px 47px;
	font-size: 16px;
	width: 100%;
	outline: none !important;
	height: 62px;
	overflow: hidden;
}
.user_block{
	padding-right: 33px;
	font-size: 11px;
	letter-spacing: .2px;
	display: flex;
}
.item_user_block{
	@include flex_align($h_align: center, $v_align: flex-start, $wrap: no-wrap);
	height: 70px;
	width: 85px;
	z-index: 2;
	@include media-breakpoint-down(sm) {
		width: 60px;
	}
	margin: -16px 0 -29px;
	padding-bottom: 10px;
	padding-top: 12px;
	position: relative;
	.account_hover{
		position: absolute;
		z-index: 1;
		right: 0;
		top: 68px;
		left: auto;
		height: 0;
		overflow: hidden;
		background-color: $bg_ligt_blue;
		width: 390px;
	}
	.login{
		.btn_orange{
			margin-bottom: 20px;
		}
	}
	&:hover {
		transition: all .2s ease-out;
		background-color: $bg_ligt_blue;
	}		
	.sing_up{
		font-size: 16px;
	}
	.sing_up_text {
		padding-top: 7px;
		font-family: 'GTWalsheimBold', sans-serif;
		color: $blue;
		display: inline-block;
	}
	.list_account{
		padding-top: 10px;
		margin-bottom: 30px;
	}
}
.no-touchevents{
	.item_user_block{
		&:hover .account_hover{
			padding: 20px 20px 20px 20px;
			height: auto;
		    max-height: calc(100vh - 121px);
		    overflow-y:auto;
		}
	}
}
.touchevents{
	.item_user_block{
		height: 55px;
		&.opened .account_hover{
			padding: 20px 20px 20px 20px;
			height: auto;
		    max-height: calc(100vh - 121px);
		    overflow-y:auto;
			@include media-breakpoint-down(sm) {
			    top: 55px;
			    width: 300px;
			}
		}
	}
}
.title_user{
	font-family: 'GTWalsheimBold', sans-serif;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 3px;
}
.item_user_block [class*="icon-"]{
	vertical-align: middle;
	position: relative;
}
.icon-basket{
	width: 37px;
	height: 34px;
}
.user_block .calc{	
	color: $white;
	margin: 0 -4px -4px 7px;
    width: 19px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 21px;
    font-size: 10px;
    height: 21px;
    letter-spacing: 0.02em;

	@include media-breakpoint-down(sm) {
		margin: -3px 0px 0 -9px;
		position: relative;
		z-index: 1;
	}
}
.item_user_block>{
	a:hover,
	a:focus,
	a:visited{
		text-decoration: none !important;
		outline:  none !important;
	}
}
.icon-like{
	width: 33px;
	height: 33px;
}
.icon-sing_up{
	width: 27px;
	height: 28px;
}
.watchlist{
	li{
		@include flex_align($h_align: space-between, $v_align: flex-start, $wrap: no-wrap);
	}
}
.my_card,
.watchlist{
	margin-bottom: 20px;
	li{
		border-bottom: 1px solid $white;
		padding-bottom: 19px;
		padding-top: 20px;
		&:first-child{
			padding-top: 0;
		}
	}
	.wrap_img_watch{
		flex: 0 0 70px;
		padding: 3px;
		background-color: $white;
	}
	.name_watch{
		font-size: 16px;
		margin-bottom: 0;
		flex: 0 1 auto;
		margin-top: -4px;
		padding-left: 30px;
		line-height: 1.2;
	}
	.price_watch{
		font-size: 18px;
		flex: 1 1 120px;
		text-align: right;
		.price{
			display: block;
		}
	}
}
.my_card{ 
	li{
		&:last-child{
			border-bottom: 1px solid #959595;
		}
	}
}
.my_card{
	.row_my_card{
		@include flex_h_align($h_align: space-between);
	}
	.wrap_coun{
		@include flex_h_v_align($h_align: space-between, $v_align: center);
	}
	.text{
		font-size: 14px;
	}
	.price{
		font-size: 18px;
	}
}
.card_price{
	@include flex_h_align($h_align: space-between);
	.text{
		font-size: 16px;
	}
	.price{
		font-size: 24px;
	}
}
.category_menu{
	    margin-right: 34px;
	>a{
		border: 2px solid $blue;
		background-color: $blue;
		border-radius: 5px;
		height: 62px;
		font-size: 14px;
		padding: 20px 68px 18px 28px;
		letter-spacing: .3px;
		position: relative;
		.arrow{
			transition: all .2s ease-out;
			transform: rotate(90deg) scaleX(1);
			top: 22px;
			position: absolute;
			right: 22px;
		}
		&.opened{
			.arrow{
				transition: all .2s ease-out;
				transform: rotate(90deg) scaleX(-1);
				top: 33px;
			}
			+ .category_list {
				// background: rgba($black, 0.5);
				transition: background .1s ease-out;
				@include heigth_out_header;
				z-index: 6;
				bottom: 0;
				transition: height .2s ease-out;
				.wrap_category_list{
					@include heigth_out_header;
					transition: height .2s ease-out;
					clip: auto;
				}
			}
			.category_list{
			}
		}
	}
	> .category_item{
		padding: 10px 1.5rem;
	}
	.wrap_category_list{
		width: 513px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 0;
		clip: rect(0, auto, auto, 0);
		background-color: $white;
		.list_icon{
			fill:$blue;
		}
		.arrow{
			&:after,&:before{
				background:$blue;
			}
		}
		.arrow.left{
			&:after,&:before{
				background:$black;
			}
		}
	}
	.custom_list{
		list-style: none;
		width: 513px;
		background-color: $white;
		padding: 19px 10px 10px 10px;
		max-height: 100%;
		bottom: 0;
		@include for_top_menu;
		position: fixed;
		left: 0;
		a {
			.arrow{
				margin-top: 0;
				align-self: center;
				height: 18px;
				background-color: transparent !important;
			}
			&:hover{
				background-color: $bg_ligt_blue;
			}
		}
		&.fistLavel{
		}
		.list_text{
			padding-left: 20px;
		}
		.img_hover{
			&:hover{
				font-family: "GTWalsheimBold";
			}
		}
	}
	.category_list{
		position: fixed;
		@include for_top;
		bottom: 0;
		left: 0;
		right: 0;		
		overflow: hidden;
		height: 0;
		transition: height .2s ease-out;
		.bg_category{
		    background: rgba($black, 0.5);
		    bottom: 0;
		    left: 0;
		    right: 0;
		    top: 0;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		}
		a{
			padding: 13px 21px 6px 6px;
			transition: all .2s ease-out;
			color: $blue;
			font-size: 16px;
			border-bottom: 1px solid $grey-lines;
			&:hover{
				background-color: rgba($blue, 0.1);
				svg{
					// fill: $orange;
				}
				.arrow:after,
				.arrow:before{
					// background-color: $orange;
				}
			}
		}
	}
	.sub_list{
		z-index: 2;
		right: auto;
		background-color: $white;
		left: 0;
		@include for_top_menu;
		position: fixed;
		.left{
			margin-top: 17px;
			width: 30px;
		}
	}
	.onlyScroll{
		overflow-y: auto;
	}
}
.sticky_header{
	.category_menu{
		>a{
			&.opened{
				+ .category_list {
					@include heigth_out_header_sticky;
					.wrap_category_list{
						@include heigth_out_header_sticky;
					}
				}
			}
		}
		.custom_list{
			@include for_top_menu_sticky;
		}
		.category_list{
			@include for_top_sticky;
		}
		.sub_list{
			@include for_top_menu_sticky;
		}
	}
}

											/*mobile header btn*/
.header_btn{
	position: relative;
	span{
		height: 2px;
		position: absolute;
	}
}
.bit-1{
	margin-top: -12px;
	width: 30px;
	margin-left: -14px;
	&:before{
		left: 0;
		transform-origin: left bottom;
	}
	&:before,
	&:after{
		content: '';
		position: absolute;
		height: 100%;
		width: 50%;
		background: $black;
		top: 0;
		transition: transform .1s, top .1s;
	}
	&:after{
		right: 0;
		transform-origin: right bottom;
	}
}
.bit-2 {
	left: 50%;
	margin-left: -14px;
	margin-top: -1px;
	text-align: center;
	&:before{
		content: '';
		width: 30px;
		height: 100%;
		background: $black;
		display: inline-block;
		vertical-align: top;
		transition: width .1s;
		transition-delay: 0.1s;
	}
}
.bit-3{
	width: 30px;
	margin-left: -14px;
	margin-top: 10px;
	&:before{
		left: 0; 
		transform-origin: left top;
	}
	&:before,
	&:after{
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		background: $black;
		transition: transform .1s, bottom .1s;
		bottom: 0;
	}
	&:after{
		right: 0;
		transform-origin: right top;
	}
}
.opened{
	.bit-1{
		width: 32px;
		&:before{
			width: 23px;
			transform: rotate(45deg);
			transition-delay: 0.2s;
		}
		&:before, 
		&:after {
			top: -5px;
		}
		&:after{
			width: 23px;
			transition-delay: 0.2s;
			transform: rotate(-45deg);
		}
	}
	.bit-2{
		margin-left: -3px;
		&:before{
			width: 0;
			transition-delay: 0;
		}
	}
	.bit-3{
		width: 32px;
		&:before{
			transform: rotate(-45deg);
		}
		&:before,
		&:after {
			width: 23px;
			transition-delay: 0.2s;
			bottom: -4px;
		}
		&:after {
			transform: rotate(45deg);
		}
	}
}
											/*END mobile header btn*/
@include media-breakpoint-up(lg) {
	.input_search{
		border: 2px solid $black;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.cont_lang{
		display: inline-block;
		text-align: center;
		
		.title_lang{
			padding-bottom: 0;
		    display: inline-block;
		    position: relative;
		    top: -6px;
	        padding: 6px 9px 0px 9px;
	        &.hoverPreventDef{
	       		padding: 6px 9px 0px 9px;
	        }
		}
		&:hover{
			.icon_arrow{
				fill:$white;
			}
			.wrap_lang{
			    padding: 3px 8px 6px;
			    top: 15px;
				width: 100%;
			}
		}
		.lang_link{
			color: $lang;
			display: block;
			line-height: 1.3em;
			&:hover,
			&:focus{
				color: $white;
				text-decoration: none;
			}
		}
	}
}
@media (max-width: 1300px) {
	.input_search{
		padding-top: 8px;
		padding-bottom: 10px;
		height: 46px;
	}
	.icon_search{
		top: 13px;
	}
	.wrapp_logo {
		padding-left: 10px;
	}
	.search{
		padding-left: 15px;
	}
	.user_block{
		padding-right: 15px;
	}
	.category_menu{
		    margin-right: 4px;
		>a{
			height: 46px;
			&.white_link .arrow{
				top: 16px;
			}
			&:hover>.white_link .arrow{
				top: initial;	
			}
			&.opened.white_link .arrow{
				top: 27px;
			}
		}
		>.white_link{
			padding: 14px 56px 9px 23px;
		}
		.wrap_category_list{
			width: 430px;
			max-width: 430px;
		}
		.custom_list{
			width: 430px;
			max-width: 430px;
		}
	}
	.input_search{
		padding-left: 40px;
	}
}


@include media-breakpoint-down(md) {
	.item_user_block .sing_up_text {
		display: none;
	}
	.head_open{
		position: fixed;
	}
	.cont_lang{
		.icon_arrow{
			display: none;
		}
	}
	.main_header{
		padding-bottom: 0;
		padding-top: 12px;
		border-bottom: 1px solid $black;
	}
	.input_search{
		border: 2px solid $black;
		border-radius: 3px;
	}
	.custom_navbar{
		margin: 50px 40px -60px -45px;
		.navbar-toggler{
			outline: none !important;
		    padding-left: 5px;
			height: 40px;
		}
	}
	.m_from_header{
		font-size: 16px;
		padding: 0 10px;
		border-top: 1px solid $black;
		border-bottom: 1px solid $black;
		@include flex_align($h_align:space-between, $v_align: stretch, $wrap: wrap);
		flex-direction: column;
		li:last-child a{
			border-bottom: none;
		}
		a{
			@include flex_align($h_align:space-between, $v_align: stretch, $wrap: wrap);
			color: $black;
			text-decoration: none!important;
			height: 50px;
			padding-left: 14px;
		}
		a{
			&:hover{
				background-color: rgba($blue, 0.1);
				color: $blue
			}
		}
	}
	.category_menu{
		.custom_list{
			padding-top: 0;
		}
	}
}
@include media-breakpoint-down(md) {
	.bring_friend:hover > a{
		background:$white;
	}
	.list-inline-item{
		.title_lang:focus{
			background:$white;
		    border-left: 1px solid $blue;
		    border-right: 1px solid $blue;
		    border-top: 1px solid $blue;
			&+.wrapp_bring {
				display: block!important;
				
			}
		}
		.wrapp_bring{
			background:$white;
			height: auto;
			width: 100%;
		    border-left: 1px solid $blue;
		    border-right: 1px solid $blue;
		    border-bottom: 1px solid $blue;
		    padding: 10px 5px; 
		}
	}

	.bring_friend:hover .wrapp_bring{
		padding: 10px 5px; 
	}
	.category_menu .category_list a{
		padding: 10px;
		.arrow{
			display: none;
		}
	}
	.bring_friend .wrapp_bring{
		top:45px;
	}
	.user_block{
		flex: 0 0 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 10px;
	}
	.user_block{
		margin-top: 5px;
		padding-right: 10px;
	}
	.item_user_block{
		position: relative;
		width: 55px;
		height: 55px;
		align-items: flex-end;
		margin: 0;
	}
	.user_block .calc{
		position: absolute;
		top: 13px;
		right: 2px;
		padding: 1px;
	}
	.search{
		flex: 1 0 auto;
	    padding-left: 17px;
   		padding-right: 16px;
	}
}
@include media-breakpoint-down(sm) {
	.custom_navbar{
		margin: 65px 40px -60px -60px;
	}
	.main_header{
		padding-bottom: 9px;
	}
	.main_header{
		padding-top: 12px;
	}
	.wrapp_logo{
		padding-left: 15px;
	}
	.input_search {
		padding-top: 13px;
		padding-bottom: 14px;
		padding-left: 36px;
		font-size: 12px;
		letter-spacing: 1.3px;
		height: 49px;
	}
	.icon_search {
		top: 50%;
		height:20px;
		margin-top: -10px;
		left: 14px;
  		line-height: 1em;
	}
	.icon-sing_up{
		margin-bottom: 0;
	}
	.category_menu{
		.wrap_category_list{
			width: 100%;
		}
		.custom_list{
			padding-right: 10px;
			width: 100%;
		}
	}
}

@media (max-width: 575px) and (orientation: landscape) {
	.m_from_header a{
		padding: 5px;
		height: 35px;
	}
	.category_menu .custom_list {
	    top: 235px;
	    a {
		    padding: 4px;
		}
	}
	.bring_friend:hover .wrapp_bring{
		padding: 10px 5px; 
	    height: 87px;
    	overflow-y: auto;
	}
}