
.list_account{
	padding-top: 34px;
	.list_text{
		padding-left: 30px;
	}
	a{
		transition:0.2s;
		border-top: 1px solid $grey-lines;
		padding: 12px 20px 7px 10px;
		color: $black;
		position: relative;
		background-color: transparent;
	}
	*{
		transition: all 0.2s ease-out;
	}
	li:last-child a{
		border-bottom: 1px solid $grey-lines;
	}
	a{
		&:hover,
		&.active{
			color: $blue;
			.bg_dark:after,
			.bg_dark:before{
				background-color: $blue;
			}
			svg{
				fill: $blue;
			}
		}
		&:hover{
			background-color: $bg_ligt_blue;
		}
	}
	a.stroke_img{
		svg{
			fill:none;
			stroke:$black;
		}		
		&:hover{
			stroke:$blue;
		}
	}
	.stroke_img.active{
		svg{
			stroke:$blue;
		}
	}
}
@include media-breakpoint-down(md) {
	.list_account{
		padding: 0;
		margin: 0;
		li{
			&:first-child{
				margin-top: 30px;
			}
			&:last-child{
				margin-bottom: 10px;
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	.list_account{
		li{
			&:first-child{
				margin-top: 20px;
			}
		}
	}
}