.custom_modal{
	[class*="_circle"]{
		&:before,
		&:after{
			height: 1px;
		}
	}
	.modal-dialog{
		margin-top: 55px;
		max-width: 571px;
		@include media-breakpoint-down(xs) {
			margin: 0;
		}
	}
	.modal-content{
		border-radius: 0;
		border: none;
		padding: 20px 100px;
		@include media-breakpoint-down(xs) {
			padding: 30px 10px;
		}
	}
	.modal-header{
		border-bottom: 1px solid #000;
		padding: 14px 0 18px;
		.cancel_circle{
			background-color: transparent;
			border: none;
			margin: -10px 0 0;
			font-size: 34px;
		}
	}
	.modal-body{
		padding: 28px 0 10px;
	}
	.type_form {
		margin-left: -1px;
	}
	.explain{
		padding-top: 12px;
		padding-bottom: 6px;
		display: inline-block;
		@include media-breakpoint-down(xs) {
			padding-top: 4px;
			padding-bottom: 4px;
		}
	}
	[class*="btn_"]{
		margin-top: 20px;
	}
}
.select_style{
	border: 1px solid #cccccc;
	overflow: hidden;
	position: relative;
	&:before {
		right: 16px;
		transform: rotate(45deg);
	}
	&:before,
	&:after {
		position: absolute;
		top: 48%;
		display: block;
		content: "";
		height: 0.1em;
		width: 0.8em;
		background-color: $blue;
		
	}
	&:after {
		right: 8px;
		transform: rotate(-45deg);
	}
	.product_select {
		padding: 17px 17px 15px 17px;
		width: 100%;
		border: none;
		box-shadow: none;
		background: transparent;
		background-image: none;
		-webkit-appearance: none;
		color: #5383ec;
		font-size: 18px;
		font-weight: 400;
	}
}
.modal_title{
	font-size: 18px;
}