.custom_slider {
	.swiper-wrapper{
		box-sizing: border-box;
	}
	.swiper-pagination-bullet{
		border: 2px solid $black;
		background-color: $black;
		opacity: 1;
	}
	.swiper-pagination-bullet-active{
		background-color: transparent;
	}
}
.swiper_btn_next{
	right: 15%;
	@media (max-width: 1600px) {
		right: 5%;
	}
	@include media-breakpoint-down(sm) {
		right: 5px;	
	}
}
.swiper_btn_next,
.swiper_btn_prev{
	position: absolute;
	// top: 28%;
	// width: 110px;
	top: 50%;
	margin-top: -12px;
	z-index: 1;
	width: 40px;
	height: 24px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	@include media-breakpoint-down(sm) {
		margin-top: 0;
	}
	&:focus{
		outline: none;
	}
}
.swiper_btn_prev{
	left: 15%;
	@media (max-width: 1600px) {
		left: 5%;
	}
	@include media-breakpoint-down(sm) {
		left: 5px;	
	}
}
.svg_prev{
	transform: rotate(90deg);
}
.svg_prev,
.svg_next{
	width: 40px;
	height: 24px;
	&:focus{
		outline: none;
	}
}
.svg_next{
	transform: rotate(-90deg);

}
.swiper_pagination{
	text-align: center;
	margin-top: -28px;
	z-index: 1;
	position: relative;
}
.pdp_slide{
	display: flex;
	align-items: center;
	padding-top: 14px;
    padding-bottom: 39px;
    position: relative;
	.wrapp_slider{
		padding: 0;
	}
	.swiper_btn_prev {
		left: -4%;
		margin-top: -26px;
		@include media-breakpoint-down(md) {
			left: -6%;
		}
	}
	.swiper_btn_next {
		
		right: -3%;
		margin-top: -26px;
		@include media-breakpoint-down(md) {
			
			right: -4%;
		}
	}
}
.top_seller{
	padding-left: 12px;
}
.link_shop{
	.c_white{
		color: $white;
	}
}
.link_seeAll{
	font-size: 14px;
	margin: 0 auto;
	max-width: 90px;
	line-height: 17px;
	&:hover{
		color: $white;
	}
	&:focus{
		color: $second_but_focus;
		text-decoration: none;
	}
}
.slide-link{
	min-width: 170px;
	height: 170px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0 0 0 6px;
	@include media-breakpoint-down(lg) {
		margin: 0 0 0 20px;
		min-width: 135px;
		height: 135px;
	}
	@include media-breakpoint-down(md) {
		max-height: 122px;
		min-width: 122px;
	}
	.link_shop{
		max-width: 105px;
		margin: 0 auto;
		@include media-breakpoint-down(md) {
			max-width: 55px;
			font-size: 12px;
		}
	}
}
.promo{
	display: flex;
	// margin: 10px 0 57px;
	margin: 68px 0 57px;
	@include media-breakpoint-down(sm) {
	    margin: 10px 0 20px;
	}
	.promo_img{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
		flex: 1 1 30%;
		height: 220px;
		@include media-breakpoint-down(md) {
			flex: 1 1 100%;
			height: 170px;
		}
	}
	.slider_text{
		font-size: 31px;
		// margin: 0 25px;
		padding: 22px 25px 0;
		letter-spacing: 0px;
		word-spacing: 1px;
		margin: 0;
		@include media-breakpoint-down(sm) {
			font-size: 24px;
			padding: 11px 0 0 18px;
			max-width: 175px;
    		line-height: 1.2;
			// margin: 0 0 -25px 0;
		}
	}
	.img-fluid{
		max-width: 60%;
	}
	.slider_img{
		justify-content:initial;
	}
	.link_shop .content_arrow {
		@include media-breakpoint-down(sm) {
	    	font-size: 24px;
	    }
	}
	a{
		padding: 0 0 7px 28px;
		@include media-breakpoint-down(sm) {
			padding: 0 0 10px 15px;
			font-size: 12px;
		}
	}
}
.slider_img{
	display: flex;
	align-items: flex-end;
	position: relative;
	justify-content:center;
	width: 100%;
	.flex_promo{
		display: flex;
		flex: 1 1 50%;
		font-size: 14px;
		align-items: center;
	}
	p{
		margin: 0;
	}
}