.product_item{
	display: flex;
	padding-bottom: 15px;
	padding-top: 10px;
	border-bottom: 1px solid $grey-lines;
	&.border_b-n {
		border-bottom: none;
	}
}
.product_wrapp{
	flex: 0 0 170px;
	padding-top: 8px;
}
.product_info{
    padding-left: 29px;
    flex: 1 1 auto;
}
.product_descrip{
	color:$color-text;
	font-size: 18px;
	line-height: 1.2;
	padding-top: 4px;
	max-width: 560px;
	margin-bottom: 4px;
	padding-right: 35px;
}
.wrapp_info{
	display: flex;
}
.product_col1{
	flex: 0 1 auto;
}
.product_col2{
	flex: 0 1 270px;
	display: flex;
}
.row_info{
	line-height: 1.2;
	padding-top: 12px;
}
.type_info{
	font-size: 14px;
	padding-right: 2px;
	flex: 0 0 auto;
}
.product_price{
	align-self: flex-end;
	margin-bottom: 0;
	flex: 1 1 auto;
	font-size: 22px;
	line-height: 1.2;
}
.coment_order{
	font-size: 14px;
}

.payment_total{
	background-color: rgba($blue, 0.1);
	padding: 0 10px 0 14px;
	letter-spacing: 0.1px;
	.colapse_sub{
		.collapse_cart{
			display: block;
			width: 100%;
			text-decoration: none;
			color: $blue;
			position: relative;
			&:before,
			&:after {
			    position: absolute;
			    top: 48%;
			    right: 16px;
			    display: block;
			    content: "";
			    height: 0.1em;
			    width: 0.8em;
			    background-color: #0caee4;
			    -webkit-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			    transition:0.3s;
			}
			&:after{
			    right: 8px;
			    -webkit-transform: rotate(45deg);
			    transform: rotate(45deg);
			}
			&.collapsed{
				&:after {
				    right: 8px;
				    -webkit-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				}
				&:before{
				    -webkit-transform: rotate(45deg);
				    transform: rotate(45deg);
				}
			}
		}
	}
	.row_payment{
		.price{
			letter-spacing: 0;
		}
	}
}
.row_payment{
	justify-content: space-between;
	display: flex;
	padding-bottom: 9px;
}
.payment_total .row_payment:last-child{
	padding-top: 10px;
	margin-top: 4px;
	border-top: 1px solid $white;
	align-items: baseline;
	// letter-spacing: 1px;
	letter-spacing: 0;
}
.amount_total{
	font-size: 31px;
	letter-spacing: -.2px;
	word-spacing: -3px;
}
@include media-breakpoint-down(md) {
	.payment_total{
		margin-top: 20px;
		margin-bottom: 20px;
		.subtitle{
			padding-top: 17px;
			padding-bottom: 13px;
		}
		.amount_total{
			font-size: 24px;
			word-spacing: 0px;		
		}
		.row_payment:last-child{
			padding-bottom: 14px;
		}
	}
}
@include media-breakpoint-down(sm) {

	.product_col2{
		flex: 0 1 100%;
	}
	.wrapp_info{
		flex-wrap: wrap;
	}
	.product_descrip{
	    font-family: 'GT-Walsheim-Regular', sans-serif;
	}
}
@include media-breakpoint-down(xs) {
	.product_item{
		display: block;
	}
	.product_wrapp {
		flex: none;
		float: left;
		max-width: 103px;
		padding-right: 20px;
	}
	.product_info{
		flex: none;
		padding-left: 0;
	}
	.product_descrip{
		font-size: 16px;
		padding-top: 2px;
	}
	.row_info{
		padding-top: 9px;
	}
	.product_price{
		padding-top: 22px;
		font-size: 20px;
		line-height: 1.4;
	}
	.amount{
		font-size: 18px;
		padding-top: 5px;
	}
}