.promo{
	.bg_yellow, .bg_yellow_promo, .bg_white, .bg_light_brown, .bg_light_green{
		.link_shop{
			color: #000;
		}
	}
}
.bg_yellow{
	// background-color: #ffcc33;
	background-color: #f8cf66;
}
.bg_light_brown{
	background-color: #fdf0d9;
}
.bg_light_green{
	background-color: #4bf28b;
}
.bg_yellow_promo{
	background-color: #e5dd4a
}
.bg_gray{
	background-color: #74848b;
}
.bg_purpur{
	background-color: #a158fe;
}
.bg_purple{
	background-color: #ff00ff;
}
.bg_turquoise{
	background-color: #17c995;
	.content_arrow{
		color: #fff;
	}
}
.bg_pink{
	background-color: #dd7daf;
	margin: 0 25px;
	.link_shop {
		.content_arrow{
			color: #fff;
		}
	}
	@include media-breakpoint-down(sm) {
		margin: 0;
	}
}
.promo{
	display: flex;
	// margin: 10px 0 57px;
	margin: 68px 0 57px;
	@include media-breakpoint-down(sm) {
	    margin: 10px 0 20px;
	}
	.promo_img{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
		flex: 1 1 30%;
		height: 220px;
		@include media-breakpoint-down(md) {
			flex: 1 1 100%;
			height: 170px;
		}
	}
	.slider_text{
		font-size: 31px;
		// margin: 0 25px;
		padding: 22px 25px 0;
		letter-spacing: 0px;
		word-spacing: 1px;
		margin: 0;
		@include media-breakpoint-down(sm) {
			font-size: 24px;
			padding: 11px 0 0 18px;
			max-width: 175px;
			// margin: 0 0 -25px 0;
		}
	}
	.img-fluid{
		max-width: 60%;
	}
	a{
		padding: 0 0 7px 28px;
		@include media-breakpoint-down(sm) {
			    padding: 0 0 10px 15px;
		}
	}
	&:last-child{
		margin-bottom: 0;
	}
}
.link_shop {
	color: #ffffff;
	.content_arrow{
		font-size: 28px;
		color: #000;
		vertical-align: sub;
		padding-left: 15px;
		@include media-breakpoint-down(sm) {
			padding-left: 5px;
		}
	}
	&:hover,&:focus{
		color: #ffffff;
		text-decoration: none;
	}
}