.orange{
	fill:$orange;
}
.ratings_quanity {
	color: $orange;
	font-size: 14px;
	margin-left: 0px;
}
.related_sect{
	padding: 28px 6px 0;
	.pdp_slide{
		padding: 0;
	}
	.pdp_title{
		margin-top: 10px;
		margin-bottom: 24px;
	}
	.image_related{
		display: flex;
		margin: 0 auto;
		align-items: center;
		height: 160px;
		justify-content: center;	
		img{
			max-height: 160px;
		}
	}
	.old_price{
		font-size: 24px;
		display: inline-block;
		padding-left: 5px;
	   margin-bottom: 9px;
	}
	.icon_cart{
		width: 29px;
		height: 29px;
		stroke:$orange;
		fill:none;
	    margin-right: 10px;
	}
	.swiper-wrapper{
		align-items: stretch;
	}
	.info_cont{
		height: 180px;
	}
	.title_related{
		width: 100%;
		border-radius: 3px;
		border: 2px solid $orange;
		color: $orange;
		font-size: 21px;
	    justify-content: center;
        align-self: flex-end;
    	padding: 5px;
    	cursor: pointer;
	    z-index: 1;
   		position: relative;
   		transition:0.2s;
	    &:hover,&:focus{
	    	color: $white;
	    	background: $orange;
			text-decoration: none;
			.icon_cart{
		    	stroke:$white;
			}
	    }
	}
	.cont_to_bott{
	    height: 90px;
	    width: 100%;
	    align-items: flex-end;
	    display: flex;
	    flex-wrap: wrap;
	}
	.text_related{
		font-size: 18px;
		line-height: 1.24em;
		margin-bottom: 8px;
	    margin-top: 12px;
	}
	.anoth_related{
		font-size: 16px;
		margin-bottom: 8px;
	}
	.svg_prev, .svg_next {
	    width: 40px;
	    height: 24px;
	    transform: rotate(-90deg);
	}
	.svg_next{
		transform: rotate(90deg);
	}
	.swiper_btn_next, .swiper_btn_prev {
		position: absolute;
		top: 30%;
		margin-top: -12px;
		z-index: 1;
		width: 40px;
		height: 24px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		&:focus{
			outline: none;
		}
	}
}
.pdp_slide{
	display: flex;
	align-items: center;
	padding-top: 14px;
	padding-bottom: 39px;
	position: relative;
	.wrapp_slider{
		padding: 0;
	}
	.swiper_btn_next {
		right: -3%;
		margin-top: -26px;
		@include media-breakpoint-down(md) {
			right: -2%;
		}
	}
	.swiper_btn_prev {
		left: -4%;
		margin-top: -26px;
		@include media-breakpoint-down(md) {
			left: -7%;
		}
	}
}
.icon_like{
	cursor:pointer;
	width:26px;
	fill:$blue;
	height:29px;
}
.icon_like.activait{
	display: none;
}
.like_wraper{
	display: inline-block;
	max-height:29px;
	&.active{
		.icon_like{
			display: none;
		}
		.icon_like.activait{
			display: block;
		}
	}
}
.rating{
	.star{
		max-width: 16px;
		max-height: 16px;
		&.blue{
			fill: $blue;
		}
	}
}
.pdp_slide{
	.product_related{
		padding: 10px;
		height: 100%;
		box-sizing: border-box;
		flex-wrap: wrap;
		display: flex;
		align-content:flex-start;
	}		
}
.tobutReposBack{
	position: relative;
    z-index: 1;
}
.sale_cont,.tobutReposBack{
	min-height: 37px;
	display: flex;
	justify-content: space-between;
    // position: relative;
    // z-index: 1;
	.sale_lable{
		background:$sale-color;
		color: $white;
		font-size: 14px;
		text-transform: uppercase;
		padding: 8px 17px 8px 13px;
		position: relative;
		text-align: center;
		display: flex;
	    align-items: center;
	    justify-content: center;
		&:before,&:after{
			content:"";
			position: absolute;
			width: 0;
			left: -10px;
			bottom: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 20px 11px;
			border-color: transparent ;
			border-color: transparent transparent $sale-color transparent;
		}
		&:after{
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 11px 20px 0;
			border-color: transparent $sale-color transparent transparent;
			top:0;
			bottom: auto;
		}
	}
}

@include media-breakpoint-down(md) {
	.related_sect {
		.swiper-wrapper{
			transform:initial!important;
		}
		.product_related{
			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
			justify-content: space-between;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			align-items:center;
			margin-bottom: 25px;
			width: 100%!important;
			min-height: 160px;
		}
		.title_related{
			font-size: 18px;
			margin:15px 0 7px auto;
			max-width: 50%;
		}
		 .anoth_related{
			font-size: 14px;
			margin-bottom: 10px;
		}
		.image_related{
			margin-bottom: 0;
			width:50%;
			text-align: center;
			max-width: 250px;
		}
		.info_cont{
			width: 50%;
			height: auto;
		}
		.info_cont{
			padding-left: 9px;
		}
		.text_related{
			font-size: 16px;
			margin-bottom: 4px;
		}
	}
	.related_list{
		.swiper-wrapper{
			flex-direction: column;
			padding-top: 5px;
			height: 100%!important;
		}
	}
	.pdp_slide .product_related {
		height: auto;
	    margin-bottom: 0px;
		.cont_to_bott{
			flex-wrap:initial;
		}
	}
} 

@include media-breakpoint-down(xs) {
	.icon_like {
		width: 17px;
		height: 22px;
	}
	.like_wraper{
		max-height: 29px;
		padding: 5px;
	}
}