.filter_row{
	margin: 32px 0 82px;
	display: flex;
	.title_filter{
		font-size: 16px;
	}
	.filter{
		font-size: 16px;
		display: inline-flex;
		padding: 0 10px;
		cursor: pointer;
	}
	.cancel_circle{
		margin-right: 7px;
	}
} 
.select_style {
	border: 1px solid $grey;
	overflow: hidden;
	min-width: 270px;
	position: relative;
	.product_select {
		padding: 27px 10px;
		width: 100%;
		border: none;
		box-shadow: none;
		background: transparent;
		background-image: none;
		-webkit-appearance: none;
		color: $blue;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: -0.5px;
		&:focus {
			outline: none;
		}
	}
	&:after{
		position: absolute;
		top: 48%;
		right: 8px;
		display: block;
		content: "";
		height: 0.1em;
		width: 0.8em;
		background-color: $blue;
		transform: rotate(-45deg);
	}
	&:before{
		position: absolute;
		top: 48%;
		right: 16px;
		display: block;
		content: "";
		height: 0.1em;
		width: 0.8em;
		background-color: $blue;
		transform: rotate(45deg);
	}
}
@include media-breakpoint-down(md) {
	.select_style{
		text-align: center;
		text-align-last: center;
		border: 3px solid $blue;
		min-width: 136px;
		margin-left: 4px;
		font-size: 14px;
		.product_select{
			padding: 8px 6px;
		}
		&:after{
			content: none;
		}
		&:before{
			content: none;
		}
	}
}