$top1: 132px;
$top2: 124px;
$top3: 114px;
$top4: 127px;
@mixin for_top {
	top: $top1;
	@media (max-width: 1300px) {
		top: $top2;
	}
	@include media-breakpoint-down(md) {
		top: $top3;
	}
	@include media-breakpoint-down(xs) {
		top: $top4;
	}
} 
@mixin for_top_menu ($top3: 280px, $top4: 280px) {
	top: $top1;
	@media (max-width: 1300px) {
		top: $top2;
	}
	@include media-breakpoint-down(md) {
		top: $top3;
	}
	@include media-breakpoint-down(xs) {
		top: $top4;
	}
}
@mixin heigth_out_header{
	min-height: calc(100vh - #{$top1});
	@media (max-width: 1300px) {
		min-height: calc(100vh - #{$top2});
	}
	@include media-breakpoint-down(md) {
		min-height: calc(100vh - #{$top3});
	}
	@include media-breakpoint-down(xs) {
		min-height: calc(100vh - #{$top4});
	}
}
// s - sticky
@mixin for_top_sticky($top1:85px, $top2:85px) {
	top: $top1;
	@media (max-width: 1300px) {
		top: $top2;
	}
}
@mixin for_top_menu_sticky($top1:85px, $top2:85px) {
	top: $top1;
	@media (max-width: 1300px) {
		top: $top2;
	}
}
@mixin heigth_out_header_sticky($top1:85px, $top2:85px) {
	min-height: calc(100vh - #{$top1});
	@media (max-width: 1300px) {
		min-height: calc(100vh - #{$top2});
	}
}
